@mixin flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($value: center){
  -webkit-justify-content: $value;
  justify-content: $value;
}
@mixin align-items($value: center){
  -webkit-align-items: $value;
  align-items: $value
}
@mixin align-content($value: center){
  -webkit-align-content: $value;
  align-content: $value
}


@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}
@mixin flex-direction($value: column) {
  flex-direction: $value;
  -webkit-flex-direction: $value;
}
@mixin flex-wrap($value: wrap) {
  flex-wrap: $value;
  -webkit-flex-wrap: $value;
}
@mixin translateX-50{
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
@mixin translateY-50{
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin translate-50 {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin translate-0 {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}
@mixin translateY($value) {
  -webkit-transform: translateY($value);
  -moz-transform: translateY($value);
  transform: translateY($value);
}
@mixin transition($value...) {
  -webkit-transition: $value;
  transition: $value;
}