@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansKR-Regular.eot");
  src: local("Noto Sans KR"), url("../font/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Regular.woff2") format("woff2"), url("../font/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSansKR-Regular.otf") format("opentype"), url("../font/NotoSansKR-Regular.svg#NotoSansKR") format("svg"); }
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: url("../../../font/NotoSansKR-Regular.eot");
  src: local("Noto Sans KR"), url("../../../font/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../../../font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../font/NotoSansKR-Regular.woff") format("woff"), url("../../../font/NotoSansKR-Regular.otf") format("opentype"), url("../../../font/NotoSansKR-Regular.svg#NotoSansKR") format("svg"); }
@font-face {
  font-family: ComicNeue;
  font-style: normal;
  font-weight: 400;
  src: local("Comic Neue"), url("../font/ComicNeue-Regular.ttf") format("truetype"); }
@font-face {
  font-family: ComicNeue;
  font-style: normal;
  font-weight: 700;
  src: local("Comic Neue"), url("../font/ComicNeue-Bold.ttf") format("truetype"); }
@font-face {
  font-family: Hyemin;
  font-style: normal;
  font-weight: 400;
  src: local("IM Hyemin Regular"), url("../font/IM_Hyemin-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Hyemin;
  font-style: normal;
  font-weight: 700;
  src: local("IM Hyemin Bold"), url("../font/IM_Hyemin-Bold.ttf") format("truetype"); }
body, h1, h2, h3, h4, h5, h6, ul, p, button {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

img {
  vertical-align: top;
  border: none; }

img, video {
  max-width: 100%; }

button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

address {
  font-style: normal; }

header, nav, section, article, address, footer {
  display: block; }

body {
  font-family: NotoSansKR, Hyemin, ComicNeue;
  color: #373737;
  font-weight: 400;
  word-break: keep-all;
  background: #fff5f5cc;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: -0.05vw; }
  body * {
    box-sizing: border-box; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.blind {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.max1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.d_none {
  display: none; }

.beige {
  background: #fff5f5cc; }

.m_0 {
  margin-left: 0; }

.btn_more, .btn_more_bk, .btn_more_on {
  background: no-repeat 50% / cover;
  width: 7.4vw;
  height: 2.95vw;
  line-height: 2.95vw;
  font-family: ComicNeue;
  font-weight: 700;
  font-size: 1.05vw;
  display: inline-block; }

.btn_more {
  background-image: url("../images/icon/btn_red.png"); }

.btn_more_bk {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-image: url("../images/icon/btn_bk.png"); }

.btn_more_on {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-image: url("../images/icon/btn_on.png");
  color: #fff; }

.w100 {
  width: 100% !important; }

.fade .fade_up, .fade .fade_down, .fade .fade_right, .fade .fade_left {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0; }

.fade.on .fade_up, .fade.on .fade_down, .fade.on .fade_right, .fade.on .fade_left {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.fade .fade_up {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  transform: translate(0, 100px); }

.fade .fade_down {
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  transform: translate(0, -100px); }

.fade .fade_right {
  -webkit-transform: translate(-100px, 0);
  -moz-transform: translate(-100px, 0);
  transform: translate(-100px, 0); }

.fade .fade_left {
  -webkit-transform: translate(100px, 0);
  -moz-transform: translate(100px, 0);
  transform: translate(100px, 0); }

.delay-3 {
  -webkit-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important; }

.delay-6 {
  -webkit-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important; }

.delay-9 {
  -webkit-transition-delay: 0.6s !important;
  transition-delay: 0.6s !important; }

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000; }
  #skip a:focus {
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fdf6ee;
    background: #373737;
    text-align: center;
    font-size: 25px; }

/*# sourceMappingURL=common.css.map */
