@keyframes lineGnb {
  0% {
    stroke-dashoffset: 175; }
  100% {
    stroke-dashoffset: 0; } }
#pcHeader {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 900; }
  #pcHeader::before {
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  #pcHeader.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: #ffe2e2;
    z-index: -1;
    border-radius: 0 0 30% 30%; }
  #pcHeader.on .headerTop {
    position: relative;
    margin: 30px 0 10px;
    width: 100%;
    height: 70px; }
    #pcHeader.on .headerTop .logo a {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 50%;
      width: 70px;
      height: 65px;
      background: url("../images/common/logo_small.png"); }
    #pcHeader.on .headerTop .util {
      position: absolute;
      right: 3%;
      line-height: 70px; }
      #pcHeader.on .headerTop .util button {
        margin-left: 20px; }
  #pcHeader.on.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #ffe2e2;
    z-index: -1;
    border-radius: 0 0 30% 30%; }
  #pcHeader .headerTop {
    position: absolute;
    margin: 30px 0 10px;
    width: 100%;
    height: 70px; }
    #pcHeader .headerTop .logo a {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 5vw;
      width: 50px;
      height: 46px;
      background: url("../images/common/logo_50.png") no-repeat;
      z-index: 10; }
    #pcHeader .headerTop .util {
      position: absolute;
      right: 3%; }
      #pcHeader .headerTop .util button {
        margin-left: 20px; }
  #pcHeader #pcGnb > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    font-family: ComicNeue;
    font-size: 24px;
    margin-top: 15px; }
    #pcHeader #pcGnb > ul::before {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
      position: absolute;
      content: "";
      top: 60px;
      left: 50%;
      width: 900px;
      height: 1px;
      background: #373737;
      opacity: 0; }
    #pcHeader #pcGnb > ul > li {
      text-align: center; }
      #pcHeader #pcGnb > ul > li:hover, #pcHeader #pcGnb > ul > li:focus, #pcHeader #pcGnb > ul > li.on {
        border-radius: 44px;
        background: #FFF1F1;
        padding-bottom: 5px; }
      #pcHeader #pcGnb > ul > li:hover a::after, #pcHeader #pcGnb > ul > li:focus a::after, #pcHeader #pcGnb > ul > li.on a::after {
        opacity: 1; }
      #pcHeader #pcGnb > ul > li > a {
        position: relative;
        display: block;
        padding: 0 50px;
        height: 60px;
        line-height: 60px; }
        #pcHeader #pcGnb > ul > li > a::after {
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
          position: absolute;
          content: "";
          top: 30%;
          right: 15%;
          border-radius: 50%;
          background: #e23e3d;
          width: 7px;
          height: 7px;
          opacity: 0; }
      #pcHeader #pcGnb > ul > li ul {
        padding: 10px 0 30px; }
        #pcHeader #pcGnb > ul > li ul li {
          padding: 10px 0;
          position: relative; }
          #pcHeader #pcGnb > ul > li ul li a {
            font-family: Spoqa;
            font-size: 16px; }

#mHeader {
  visibility: hidden;
  height: 0;
  overflow: hidden; }

#gnbLine {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -40px;
  pointer-events: none; }
  #gnbLine #line1 {
    fill: none;
    stroke: #e23e3d;
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    animation: lineGnb 0.5s linear forwards; }

.footer {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background: url("../images/common/footer_bg.png") no-repeat top center/cover;
  height: 65vh;
  font-size: 0.8333vw;
  padding-right: 5vw; }
  .footer .btn_top {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background: #e23e3d url("../images/icon/btn_top.png") no-repeat center;
    background-size: 1.2vw 1.5vw;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    z-index: 90;
    position: absolute;
    bottom: 10vw;
    right: 10vw; }
  .footer .logo {
    padding-right: 1vw; }
  .footer .foot_left strong {
    font-family: ComicNeue;
    font-size: 1.5vw; }
  .footer .foot_left address p {
    padding-top: 1vw; }
  .footer .foot_left span {
    padding-right: 1vw; }
  .footer .foot_center {
    padding: 0 5vw; }
    .footer .foot_center p {
      padding-top: 1vw; }
    .footer .foot_center .copy {
      font-size: 0.729vw;
      color: #676767; }
    .footer .foot_center span {
      padding-right: 1vw; }
  .footer .foot_right p {
    font-weight: 700;
    padding-bottom: 0.5vw; }
  .footer .foot_right .sns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 1.5vw; }
    .footer .foot_right .sns li {
      width: 1.7vw;
      height: 1.7vw;
      margin-right: 1vw; }
  .footer .foot_right .help {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 1.5vw; }
    .footer .foot_right .help li {
      margin-right: 1vw; }

@media screen and (max-width: 1440px) {
  #pcHeader {
    height: 80px; }
    #pcHeader.active::before {
      height: 500px; }
    #pcHeader.on .headerTop {
      margin: 10px 0 10px;
      height: 70px;
      line-height: 70px; }
      #pcHeader.on .headerTop .logo a {
        top: 20%;
        width: 50px;
        height: 42px;
        background: url("../images/common/logo_50.png");
        line-height: 70px; }
      #pcHeader.on .headerTop .util {
        right: 5%;
        line-height: 70px; }
    #pcHeader .headerTop {
      margin: 10px 0 0px;
      height: 80px; }
      #pcHeader .headerTop .logo a {
        top: 10%;
        left: 5vw;
        width: 50px;
        height: 46px;
        background-image: url("../images/common/logo_50.png"); }
      #pcHeader .headerTop .util {
        top: 15%;
        right: 3%; }
    #pcHeader #pcGnb > ul {
      font-size: 26px;
      margin-top: 15px; }
      #pcHeader #pcGnb > ul > li:hover, #pcHeader #pcGnb > ul > li:focus, #pcHeader #pcGnb > ul > li.on {
        padding-bottom: 10px; }
      #pcHeader #pcGnb > ul > li > a {
        line-height: 50px; }
      #pcHeader #pcGnb > ul > li ul {
        padding: 0; }
        #pcHeader #pcGnb > ul > li ul li {
          padding: 10px 0; }
          #pcHeader #pcGnb > ul > li ul li a {
            font-family: Spoqa;
            font-size: 16px; }

  #gnbLine {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -40px;
    pointer-events: none;
    opacity: 0.8; }
    #gnbLine #line1 {
      fill: none;
      stroke: #e23e3d;
      stroke-linecap: round;
      stroke-width: 3;
      stroke-dasharray: 175;
      stroke-dashoffset: 175;
      animation: lineGnb 0.5s linear forwards; }

  .footer {
    font-size: 1.07vw; }
    .footer .logo {
      padding-right: 1.5vw;
      margin-left: -3vw; }
    .footer .foot_left strong {
      font-size: 1.85vw; }
    .footer .foot_left address p {
      padding-top: 1.3vw; }
    .footer .foot_left span {
      padding-right: 1.5vw; }
    .footer .foot_center {
      padding: 0 5vw 0 4vw; }
      .footer .foot_center p {
        padding-top: 1.3vw; }
      .footer .foot_center .copy {
        font-size: 0.98vw; }
      .footer .foot_center span {
        padding-right: 1.5vw; }
    .footer .foot_right {
      font-size: 1vw; }
      .footer .foot_right p {
        padding-bottom: 0.7vw; }
      .footer .foot_right .sns {
        padding-bottom: 1.7vw; }
        .footer .foot_right .sns li {
          width: 2.2vw;
          height: 2.2vw;
          margin-right: 1.7vw; }
      .footer .foot_right .help {
        padding-bottom: 1.7vw; }
        .footer .foot_right .help li {
          margin-right: 1.7vw; } }
@media screen and (max-width: 1080px) {
  #pcHeader {
    display: none; }

  #mHeader {
    visibility: visible;
    height: 80px;
    position: fixed;
    z-index: 900;
    width: 100%; }
    #mHeader .headerTop {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      height: 80px;
      padding: 0 40px; }
      #mHeader .headerTop .logo a img {
        width: 60px;
        height: 50px; }
      #mHeader .headerTop .btn_gnb_open {
        position: relative;
        width: 40px;
        height: 50px;
        background: url("../images/icon/btn_nav_menu.png") no-repeat 50%/cover; }
    #mHeader #mGnb {
      visibility: hidden;
      left: 100%;
      position: fixed;
      top: 0;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      z-index: 950;
      padding: 13vw 10vw 0vw;
      background: #ffe2e2 url("../images/common/nav_bg.png") no-repeat bottom right; }
      #mHeader #mGnb .btn_gnb_close {
        position: absolute;
        top: 5vw;
        right: 5vw;
        width: 5vw;
        height: 5vw; }
      #mHeader #mGnb > ul > li {
        margin-bottom: 6vw; }
        #mHeader #mGnb > ul > li:last-child {
          margin-bottom: 0; }
        #mHeader #mGnb > ul > li > a {
          position: relative;
          display: block;
          font-family: ComicNeue;
          font-size: 5vw;
          font-weight: 700; }
          #mHeader #mGnb > ul > li > a::before {
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            content: "";
            display: block;
            width: 2vw;
            height: 2vw;
            border-top: 0.5vw solid #373737;
            border-right: 0.5vw solid #373737;
            position: absolute;
            top: 50%;
            right: 5vw;
            margin-top: -1vw; }
        #mHeader #mGnb > ul > li.on > a {
          color: #e23e3d; }
          #mHeader #mGnb > ul > li.on > a::before {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-color: #e23e3d; }
      #mHeader #mGnb .dep2 {
        visibility: hidden;
        max-height: 0;
        overflow: hidden; }
        #mHeader #mGnb .dep2 > li {
          padding: 4vw 0 1vw 4vw;
          font-size: 2.8vw; }

  .footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: center;
    height: 50vh;
    font-size: 1.42vw;
    padding-right: 0vw; }
    .footer .logo {
      padding-right: 0;
      margin-left: 0;
      margin-bottom: 1.5vw; }
    .footer .logo a img {
      width: 70px;
      height: 60px; }
    .footer .foot_left strong {
      font-size: 2.5vw;
      font-weight: 400;
      margin-bottom: 2vw; }
    .footer .foot_left address p {
      padding-top: 1.5vw; }
    .footer .foot_left span {
      padding-right: 1.5vw; }
    .footer .foot_center {
      padding: 0; }
      .footer .foot_center p {
        padding-top: 1.5vw; }
      .footer .foot_center .copy {
        font-size: 1.2vw;
        color: #676767; }
      .footer .foot_center span {
        padding-right: 1.5vw; }
    .footer .foot_right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding-top: 1.8vw; }
      .footer .foot_right p {
        padding-bottom: 0.8vw;
        font-size: 1.42vw; }
      .footer .foot_right .sns_wrap {
        margin-right: 1.8vw; }
      .footer .foot_right .sns {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding-bottom: 0vw; }
        .footer .foot_right .sns li {
          width: 2.2vw;
          height: 2.2vw;
          margin-right: 1.5vw; }
      .footer .foot_right .help {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding-bottom: 1.5vw; }
        .footer .foot_right .help li {
          margin-right: 1.5vw;
          font-size: 1.3vw;
          line-height: 2.2vw; }
    .footer .btn_top {
      width: 4.5vw;
      height: 4.5vw;
      border-radius: 100%;
      background: #e23e3d url("../images/icon/btn_top.png") no-repeat center;
      background-size: 2vw 2.5vw;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
      z-index: 90;
      position: absolute;
      bottom: 5vw;
      right: 5vw; } }
@media screen and (max-width: 770px) {
  #mHeader {
    height: 8.1818181818vw; }
    #mHeader .headerTop {
      height: 8.1818181818vw;
      padding: 0 4.0909090909vw; }
      #mHeader .headerTop .logo a img {
        width: 6.8181818182vw;
        height: 5.7272727273vw; }
      #mHeader .headerTop .btn_gnb_open {
        width: 4.0909090909vw;
        height: 5.4545454545vw; }

  .footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: center;
    height: 40vh;
    font-size: 1.8vw;
    padding-right: 0vw; }
    .footer .btn_top {
      width: 4.5vw;
      height: 4.5vw;
      border-radius: 100%;
      background: #e23e3d url("../images/icon/btn_top.png") no-repeat center;
      background-size: 2.2vw 3vw;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
      z-index: 90;
      position: absolute;
      bottom: 5vw;
      right: 5vw; }
    .footer .logo {
      padding-right: 0;
      margin-left: 0;
      margin-bottom: 1.5vw; }
    .footer .foot_left strong {
      font-size: 3vw;
      font-weight: 400;
      margin-bottom: 2vw; }
    .footer .foot_left address p {
      padding-top: 1.7vw; }
    .footer .foot_left span {
      padding-right: 1.7vw; }
    .footer .foot_center {
      padding: 0; }
      .footer .foot_center p {
        padding-top: 1.7vw; }
      .footer .foot_center .copy {
        font-size: 1.7vw;
        color: #676767; }
      .footer .foot_center span {
        padding-right: 1.7vw; }
    .footer .foot_right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding-top: 1.8vw;
      margin-bottom: 3vw; }
      .footer .foot_right p {
        padding-bottom: 0.8vw;
        font-size: 1.8vw; }
      .footer .foot_right .sns_wrap {
        margin-right: 1.8vw; }
      .footer .foot_right .sns {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding-bottom: 0vw; }
        .footer .foot_right .sns li {
          width: 2.2vw;
          height: 2.2vw;
          margin-right: 1.7vw; }
      .footer .foot_right .help {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding-bottom: 1.7vw; }
        .footer .foot_right .help li {
          margin-right: 1.7vw;
          font-size: 1.75vw;
          line-height: 2.2vw; } }

/*# sourceMappingURL=layout.css.map */
