@charset "utf-8";
@import "_var", "_mixin", "_function";

@keyframes lineGnb {
  0%{stroke-dashoffset: 175;}
  100%{stroke-dashoffset: 0;}
}

// header 전체 공통& PC
#pcHeader{
  position: fixed; width: 100%; height: 100px; z-index: 900;
  &::before{
    @include transition(all 0.5s)
  }
  &.active::before{
    content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 400px; background: $pink; z-index: -1; border-radius: 0 0 30% 30%;}
  &.on .headerTop{
    position: relative; margin: 30px 0 10px; width: 100%; height: 70px;
    .logo{
      a{
        @include translateX-50;
        position: absolute; top: 0; left: 50%; width: 70px; height: 65px; background: url("../images/common/logo_small.png");
      }
    }
    .util{
      position: absolute; right: 3%; line-height: 70px;
      button{margin-left: 20px;}
    }
  }
  &.on.active::before{
    content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 500px; background: $pink; z-index: -1; border-radius: 0 0 30% 30%;
  }
  .headerTop{
    position: absolute; margin: 30px 0 10px; width: 100%; height: 70px;
    .logo{
      a{
        @include translateX-50;
        position: absolute; top: 0; left: 5vw; width: 50px; height: 46px; background: url("../images/common/logo_50.png") no-repeat; z-index: 10;
      }
    }
    .util{
      position: absolute; right: 3%;
      button{margin-left: 20px;}
    }
  }
  #pcGnb > ul{
      @include flex;
      @include justify-content;
      position: relative; width: 100%; font-family: ComicNeue; font-size: 24px; margin-top: 15px;
      &::after{
        @include translateX-50;
        @include transition(width 0.5s);
        position: absolute; content: "";  top: 60px; left: 50%; width: 900px; height: 1px; background: #373737; opacity: 0;
      }
      > li{
        // @include transition(background 0.5s);
        text-align: center;
        &:hover, &:focus, &.on{border-radius: 44px; background: $lightPink; padding-bottom: 5px;}
        &:hover a::after, &:focus a::after, &.on a::after{opacity: 1;}
        > a{        
          position: relative; display: block; padding: 0 50px; height: 60px; line-height: 60px;
          &::after{
            @include transition(opacity 0.5s);
            position: absolute; content: ""; top: 30%; right:15%; border-radius: 50%; background: $red; width: 7px; height: 7px; opacity: 0;
          }        
        }
        ul{
          padding: 10px 0 30px;
          li{
            padding: 10px 0; position: relative;
            a{
              font-family: Spoqa; font-size: 16px;
              }
            }
          }
        }
      }
}
#mHeader{visibility: hidden;height: 0;overflow: hidden;}

#gnbLine{
  position: absolute;top: -10px;left: 50%; margin-left: -40px; pointer-events: none;
  #line1{fill: none; stroke: #e23e3d; stroke-linecap: round; stroke-width: 3; stroke-dasharray: 175; stroke-dashoffset: 175; animation: lineGnb 0.5s linear forwards;}
}

.footer{
  @include flex;
  @include justify-content;
  @include align-items;
  background: url("../images/common/footer_bg.png") no-repeat top center / cover; height: 80vh; font-size: 0.8333vw;
  padding-right: 5vw;
  .logo{padding-right: 1vw;}
  .foot_left{
    strong{font-family: ComicNeue; font-size: 1.5vw;}
    address p{padding-top: 1vw;}
    span{padding-right: 1vw;}
  }
  .foot_center{
    padding: 0 5vw;
    p{padding-top: 1vw;}
    .copy{font-size: 0.729vw; color: #676767;}
    span{padding-right: 1vw;}
  }

  .foot_right{
    p{
      font-weight: 700; padding-bottom: 0.5vw;
    }
    .sns{
      @include flex;
      padding-bottom: 1.5vw;
      li{width: 1.7vw; height: 1.7vw; margin-right: 1vw;}
    }
    .help{
      @include flex;
      padding-bottom: 1.5vw;
      li{
        margin-right: 1vw;
      }
    }
  }
}

// 작은 pc
@media screen and (max-width: 1440px) {
  #pcHeader{
    height: 80px;
    &.active::before{height: 500px;}
    &.on .headerTop{
     margin: 10px 0 10px; height: 70px; line-height: 70px;
      .logo{
        a{top: 20%; width: 50px; height: 42px; background: url("../images/common/logo_50.png"); line-height: 70px;}
      }
      .util{right: 5%; line-height: 70px;}
    }
    .headerTop{
     margin: 10px 0 0px; height: 80px;
      .logo{
        a{top: 10%; left: 5vw; width: 50px; height: 46px; background-image: url("../images/common/logo_50.png");}
      }
      .util{top: 15%; right: 3%;}
    }
    #pcGnb > ul{
        font-size: 24px; margin-top: 15px;
        > li{
          &:hover, &:focus, &.on{padding-bottom: 10px;}
          > a{line-height: 50px;
            }
          ul{
            padding: 0;
            li{
              padding: 10px 0;
              a{
                font-family: Spoqa; font-size: 18px;
                  }
              }
            }
          }
    }
  }
  
  #gnbLine{
    position: absolute;top: -10px;left: 50%; margin-left: -40px; pointer-events: none; opacity: 0.8;
    #line1{fill: none; stroke: #e23e3d; stroke-linecap: round; stroke-width: 3; stroke-dasharray: 175; stroke-dashoffset: 175; animation: lineGnb 0.5s linear forwards;}
  }

  // footer 전체 공통& PC
  .footer{
    font-size: 1vw;
    .logo{padding-right: 1.5vw; margin-left: -3vw;}
    .foot_left{
      strong{font-size: 1.85vw;}
      address p{padding-top: 1.3vw;}
      span{padding-right: 1.5vw;}
    }
    .foot_center{
      padding: 0 5vw 0 4vw;
      p{padding-top: 1.3vw;}
      .copy{font-size: 0.85vw;}
      span{padding-right: 1.5vw;}
    }

    .foot_right{
      font-size: 1vw;
      p{
        padding-bottom: 0.7vw;
      }
      .sns{
        padding-bottom: 1.7vw;
        li{width: 1.9vw; height: 1.9vw; margin-right: 1.5vw;}
      }
      .help{
        padding-bottom: 1.7vw;
        li{
          margin-right: 1.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  // header
  // pcHeader는 태블릿에서 보이지 않게 숨긴다
  #pcHeader{display: none;}
  #mHeader{
    visibility: visible; height: 90px; overflow: visible; position: fixed; z-index: 900; width: 100%;
    .headerTop{
      @include flex;
      @include justify-content(space-between);
      @include align-items;
      width: 100%; height: 90px; padding: 0 40px 0 40px;
      .btn_gnb_open{
        position: relative; width: 46px; height: 32px;
        background: url("../images/icon/btn_nav_open.png") no-repeat;
        }
    }
    #mGnb{
      visibility: hidden; left: 100%; position: fixed; top: 0; height: 100%; width: 100%;background: $pink; overflow-y: auto; z-index: 950; padding: 20vw 10vw 7vw;
      &::after{content: "";position: absolute; top: 100%; right: 0; background: url("../images/common/nav_bg.png"); width: 634px; height: 500px; z-index: -1; opacity: 0.7;}
      .btn_gnb_close{
        position: absolute; top: 5vw; right: 5vw; width: 5vw; height: 5vw;
      }
      > ul{
        > li{
          margin-bottom: 8vw;
         &:last-child{margin-bottom: 0;}
         > a{
           position: relative; display: block; font-family: ComicNeue; font-size: 7vw; font-weight: 700;
           &::before{
             @include transform(rotate(135deg));
             @include transition(all 0.5s);
             content:""; display: block; width: 2vw; height: 2vw; border-top: 0.5vw solid $bk;border-right: 0.5vw solid $bk; position: absolute; top:50%; right: 5vw; margin-top: -1vw;
           }
         }
         &.on > a{
           color: $red;
           &::before{
             @include transform(rotate(-45deg));
             border-color: $red;
           }
         }
       }
      }
      .dep2{
        visibility: hidden;max-height: 0;overflow: hidden;
        > li {padding: 6vw 0 0 3vw; font-size: 3.5vw;}
      }     
    }
  }
}
@media screen and (max-width: 770px) {
    // header
    // pcHeader는 태블릿에서 보이지 않게 숨긴다
    #mHeader{
      height: vw-calc770(90); 
      .headerTop{
        .logo{width: 52px; height: 52px;}
        height: vw-calc770(90); padding: 0 vw-calc770(40);
        .btn_gnb_open{
          position: relative; width: 26px; height: 22px;
          background: url("../images/icon/btn_nav_open.png") no-repeat;
          }
      }
      #mGnb{
        visibility: hidden; left: 100%; position: fixed; top: 0; height: 100%; width: 100%;background: $pink; overflow-y: auto; z-index: 950; padding: 20vw 10vw 7vw;
        &::after{content: "";position: absolute; top: 100%; right: 0; background: url("../images/common/nav_bg.png"); width: 634px; height: 500px; z-index: -1; opacity: 0.7;}
        .btn_gnb_close{
          position: absolute; top: 5vw; right: 5vw; width: 5vw; height: 5vw;
        }
        > ul{
          > li{
            margin-bottom: 8vw;
           &:last-child{margin-bottom: 0;}
           > a{
             position: relative; display: block; font-family: ComicNeue; font-size: 7vw; font-weight: 700;
             &::before{
               @include transform(rotate(135deg));
               @include transition(all 0.5s);
               content:""; display: block; width: 2vw; height: 2vw; border-top: 0.5vw solid $bk;border-right: 0.5vw solid $bk; position: absolute; top:50%; right: 5vw; margin-top: -1vw;
             }
           }
           &.on > a{
             color: $red;
             &::before{
               @include transform(rotate(-45deg));
               border-color: $red;
             }
           }
         }
        }
        .dep2{
          visibility: hidden;max-height: 0;overflow: hidden;
          > li {padding: 6vw 0 0 3vw; font-size: 3.5vw;}
        }     
      }
    }
}
