@charset "utf-8";
@import "_var", "_mixin", "_function";

// 1920
#cnt1{
  @include flex;
  @include justify-content;
  @include align-items;
  height: 100vh; background: $lightPink;
  .move_box_wrap{
    overflow: hidden; width: 600px; height: 600px; border-radius: 50%; margin-top: 5%;
  }
  .move_box{
    width: 550px; height: 550px; border-radius: 50%;
    .photo{
      @include transition(transform 0.5s ease);
      width: 958px; height: 1080px;
    }
  }
  .move_box:hover .photo{transform: scale(1.03);}
  .photo img{
    @include transition(transform 0.5s ease);
    position: absolute; top: -10%; left: -15%; width: 100%; text-align: center; vertical-align: middle;
  }
  .txt{
    @include flex;
    @include justify-content(space-between);
    @include align-items;
    @include translateY-50;
    width: 100%; top: 60%; left: 0; padding: 0 15.3vw 0 13.4vw;
    h2{font-family: ComicNeue; font-weight: 700; font-size: 6.25vw; color: $red; margin-bottom: 1vw;}
    p{font-size: 1.1vw; line-height: 2vw; letter-spacing: -0.05vw;}
    .txt2{text-align: right;}
  }
  .scrollDown{
    position: absolute; top: 93%; left: 3%; font-family: AmaticSC; font-size: 1.7vw;
  }
}

#cnt2{
  @include flex;
  @include align-items;
  height: 100vh;
  h2{
    background: url("../images/main/cnt2_bg.jpg") no-repeat 50% / cover;  width: 25vw; height: 31vw; /*  width: 573px; height: 678px;*/ max-width: 100%; border-radius: 45%;
    span{top: 8vw; right: 0vw; font-family: AmaticSC; font-size: 6vw; margin-right: -3vw;}
  }
  .swiper-wrapper{
    @include align-items(flex-end);
    width: 65vw;
    .swiper-slide .slide .winePhoto{
      &::before{
        @include transition(opacity, 0.4s);
        content:""; display: block; position: absolute; top: 5vw; left: -2vw; background: no-repeat top left / cover; z-index: 1;opacity: 0; width: 5.5vw; height: 5.2vw;}
      &::after{
        @include transition(opacity, 0.4s);
        content:""; display: block; position: absolute; bottom: 0; right: -6vw; background: no-repeat top left / cover; z-index: -1;opacity: 0; width: 10vw; height: 10vw;}
    }
    #slide1 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/lime1.png");}
      &::after{
        background-image: url("../images/fruit/lime2.png");}
    }
    #slide2 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/blueberry1.png");}
      &::after{
        background-image: url("../images/fruit/blueberry2.png");width: 8vw; height: 8vw;}
    }
    #slide3 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/shiitake2.png"); width: 8vw; height: 8vw;}
      &::after{
        background-image: url("../images/fruit/shiitake3.png");width: 8vw; height: 7vw; right: -5vw;}
    }
    #slide4 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/pear1.png"); width: 7vw; height: 9vw;}
      &::after{
        background-image: url("../images/fruit/pear2.png");}
    }
    #slide5 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/cherry2.png"); width: 8vw; height: 8vw;}
      &::after{
        background-image: url("../images/fruit/cherry.png");}
    }
    #slide6 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/apple.png"); width: 6vw; height: 6vw;}
      &::after{
        background-image: url("../images/fruit/apple1.png");}
    }
    #slide7 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/chocolate2.png"); width: 6.5vw; height: 6vw;}
      &::after{
        background-image: url("../images/fruit/chocolate.png");width: 10vw; height: 7.5vw; right: -5vw;}
    }
    .swiper-slide{
      .slide{
        @include flex;
        @include flex-direction;
        @include align-items;
        @include justify-content(flex-end);
        font-family: ComicNeue; height: 36vw;
        .winePhoto{
          position: relative; display: block; text-align: center; width: 8.5vw;
        }
        .winePhoto img{
          @include transition(width, 0.4s);
          width: 6vw;
        }
        strong{display: block; text-align: center;  font-size: 1.5vw; margin: 1vw 0;}
      }
      .slide:hover, .slide:focus{
        .winePhoto img{width: 8vw;}
        .winePhoto::before, .winePhoto::after{opacity: 1;}
        .btn_more{background: url("../images/icon/btn_on.png") no-repeat 50% / cover; color: #fff;}
      }
    }
  }
  .swiper-button-prev, .swiper-button-next{
    margin-top: 0; width: 5vw; height: 4.8vw; background: no-repeat 50% / cover;
    &::after{display: none;}
  }
  .swiper-button-prev{background-image: url("../images/icon/slide_left.png"); left: 0;}
  .swiper-button-next{background-image: url("../images/icon/slide_right.png"); right: 0;}
}

#cnt3{
  @include flex;
  @include justify-content;
  @include align-items;
  height: 100vh; text-align: center; margin: 0 1vw;
  .left_txt{
    width: 60%;
    h2{font-size: 5vw; font-family: AmaticSC; /* padding: 3vw 0; */}
    article{
      @include flex;
      @include align-items;
      @include justify-content;
      @include flex-wrap;
      position: relative; 
      &::before{
        @include translate-50;
        content: ""; position: absolute; top: 50%; left: 50%; width: 60%; height: 1px; background: $bk2;
      }
      &::after{
        @include translate-50;
        content: ""; position: absolute; top: 50%; left: 50%; width: 1px; height: 80%; background: $bk2;
      }
      .atc_txt{
        width: 400px; position: relative; padding: 2vw 2vw;
        .num{font-family: AmaticSC; font-size: 4vw; position: absolute; top: 1vw;left: 1.5vw;}
        strong{font-family: ComicNeue; font-size: 1.5vw;}
        .txt{font-size: 0.8vw; line-height: 1.5; padding: 1vw 0;}
      }
      .atc_txt:hover, .atc_txt:focus{
        .num, strong{color: $red; font-weight: 700;}
        .btn_more_bk{background-image: url("../images/icon/btn_on.png"); color: #fff;}
      }
    }
  }
  #hoverLine{
    position: absolute;top: -2vw;left: 0; pointer-events: none; z-index: 10; opacity: 0.8;
    #line2{fill: none; stroke: #e23e3d; stroke-linecap: round; stroke-width: 5; stroke-dasharray: 897; stroke-dashoffset: 897; animation: lineHover 0.5s linear forwards;}
  }
  @keyframes lineHover {
    0%{stroke-dashoffset: 897;}
    100%{stroke-dashoffset: 0;}
  }
  #video{
     /*position: absolute; top: 0; right: 7vw; */width: 40%;  height: 80vh;
  }
}

#cnt4{
  @include flex;
  @include justify-content(space-between);
  @include align-items;
  height: 100vh; position: relative; margin: 0 0 0 8vw;
  .txt_box{
    h2{font-family: AmaticSC; font-size: 5vw;}
    p{font-size: 0.9vw; line-height: 1.6; padding: 1.5vw 0.5vw 3vw;}
    .btn_subscript{
      @include transition(all 0.5s);
      position: relative; display: block; background: url("../images/icon/btn_bk.png") no-repeat 50% / cover; width: 7.14vw; height: 2.85vw; font-family: ComicNeue;
      font-size: 1vw; text-align: center; line-height: 2.85vw; font-weight: 700; margin-left: 18vw;

    }
    .btn_subscript_on{
      @include transition(all 0.5s);
      position: relative; display: block; background: url("../images/icon/btn_on.png") no-repeat 50% / cover; width: 7.14vw; height: 2.85vw; font-family: ComicNeue;
      font-size: 1vw; text-align: center; line-height: 2.85vw; font-weight: 700; margin-left: 17.9vw;margin-top: 0.1vw; color: #fff;
    }

    .finger{position: absolute; top: 100%; left: 100%; display: block; width: 3vw; height: 3vw; visibility: hidden;}
  }
  #photo_box{
    position: relative; width: 50%; height: 100%; overflow: hidden;
    .box{
      position: absolute; top: 10%; left: 10%; width: 25vw; height: 38vw; background: no-repeat 50% / cover;
      h3{padding-top: 2vw; padding-left: 1vw; font-size: 1.5vw;}
      p{padding-top: 1vw; padding-left: 1.2vw; font-size: 0.9vw; line-height: 1.3;}
      &#box1{background-image: url("../images/main/cnt5_photo1.jpg");}
      &#box2{
        @include transform(rotate(7deg));
        background-image: url("../images/main/cnt5_photo2.jpg");
      }
      &#box3{
        @include transform(rotate(-7deg));
        background-image: url("../images/main/cnt5_photo3.jpg");}
      &#box4{
        @include transform(rotate(5deg));
        background-image: url("../images/main/cnt5_photo4.jpg");
      }      
    }
    .box:not(#box1){margin-left: 33vw;}
    .controller{
      position: absolute; bottom: 5%; left: 0;
      @include flex;
      @include justify-content(flex-start);
      @include align-items;
      background: no-repeat 50% / cover; width: 100%; height: 70px; z-index: 10; 
      .button-prev{background-image: url("../images/icon/slide_left_small.png");  width: 72px; height: 70px; margin-right: 27vw;}
      .button-next{background-image: url("../images/icon/slide_right_small.png"); width: 72px; height: 70px;}
    }
  }
}


@media screen and (max-width: 1440px) {
  #cnt1{
    .move_box_wrap{
      overflow: hidden; width: vw-calc1440(600); height: vw-calc1440(600); margin-top: 8%;
    }
    .move_box{
      width: vw-calc1440(500); height: vw-calc1440(500);
      .photo{      
        width: vw-calc1440(958); height: vw-calc1440(1080);
      }
    }
    .txt{
      top: 55%; padding: 0 8vw 0 8vw;
      h2{font-size: 7vw; }
      p{font-size: 1.2vw; line-height: 2vw; letter-spacing: -0.05vw;}
    }
    .scrollDown{font-size: 2vw;}
  }
  #cnt2{
    h2{
      width: 31vw; height: 37vw;
      span{top: 8vw; right: -1vw;font-size: 6.5vw; margin-right: -3vw;}
    }
    .swiper-wrapper{
      .swiper-slide{
        .slide{
          height: 40vw;        
          .winePhoto img{width: 7vw;}
          strong{margin: 1.5vw 0; font-size: 1.7vw;}
        }
        .slide:hover, .slide:focus{
          .winePhoto img{width: 9vw;}
        }
      }
    }
  }
  #cnt3{
    position: relative; height: 100vh; text-align: center;
    .left_txt{
      h2{padding-bottom: 2vw;}
      article{
        .atc_txt{
          width: 300px; padding: 0; margin: 2vw 1vw;
          .num{font-size: 5vw; top: -1.5vw;left: 0.5vw;}
          strong{font-size: 1.9vw;}
          .txt{font-size: 1vw; line-height: 1.5; padding: 1.5vw 0;}
        }
      }
    }
    #hoverLine{top: -7vw;left: -4vw;}
  }
  #cnt4{
    .txt_box{
      h2{font-size: 6vw;}
      p{font-size: 1.1vw; line-height: 1.8; padding: 1.7vw 0.7vw 5vw;}
      .btn_subscript{
        position: relative; display: block; background: url("../images/icon/btn_bk.png") no-repeat 50% / cover; width: 10vw; height: 4vw; font-size: 1.5vw; line-height: 4vw;margin-left: 20vw;
      }
      .btn_subscript_on{
        width: 10vw; height: 4vw; font-size: 1.5vw;line-height: 4vw; margin-left: 19.7vw;
      }  
      .finger{position: absolute; top: 100%; left: 100%; display: block; width: 5vw; height: 5vw;}
    }
    #photo_box{
      .box{
        top: 15%; left: 17.5%; width: 27vw; height: 40vw;
        h3{padding-top: 2.5vw; padding-left: 2vw; font-size: 1.7vw;}
        p{padding-left: 2.2vw; font-size: 1.15vw; line-height: 1.5;}
      }
      .box:not(#box1){margin-left: 33.5vw;}
      .controller{
        bottom: 0; left: 2.5vw;
        .button-prev{margin-right: 27.5vw;}
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  #cnt1{
    display : block;
    .move_box_wrap{
      @include flex;
      @include justify-content;
      @include align-items;
      width: 100%; height: 100vh;margin-top: 0;
    }
    .move_box{
      width: 450px; height: 450px; border-radius: 50%; margin-top: 8%;overflow: hidden;
      .photo{
        @include transition(transform 0.5s ease);
        width: 958px; height: 1080px;
      }
    }
    .move_box:hover .photo{transform: scale(1.03);}
    .photo img{
      @include transition(transform 0.5s ease);
      position: absolute; top: -10%; left: -15%; width: 100%; text-align: center; vertical-align: middle;
    }
    .txt{
      display: block;
      width: 100%; top: 60%; left: 0; height: 100vh;padding: 0 10vw;
      h2{font-family: ComicNeue; font-weight: 700; font-size: 8vw; color: $red; margin-bottom: 1vw;}
      p{font-size: 1.8vw; line-height: 3vw; letter-spacing: -0.05vw;}
      .txt1{position: absolute; top: 5%;}
      .txt2{text-align: right; position: absolute; top: 65%; right: 10vw;}
    }
    .scrollDown{
      font-size: 2.7vw;
    }
    
  }
  #cnt2{
    display: block;
    height: 60vw;
    h2{
      background: none;  text-align: center; width: 100%; height: 20vw;
      max-width: none; border-radius: 45%; padding-top: 5vw;
      span{position: static; font-size: 9.2vw; margin-right: 0vw; }
    }
    .swiper-wrapper{
      @include align-items(flex-end);
      .swiper-slide .slide .winePhoto{
        &::before{
          @include transition(opacity, 0.4s);
          content:""; display: block; position: absolute; top: 5vw; left: -2vw; background: no-repeat top left / cover; z-index: 1;opacity: 0; width: 5.5vw; height: 5.2vw;}
        &::after{
          @include transition(opacity, 0.4s);
          content:""; display: block; position: absolute; bottom: 0; right: -6vw; background: no-repeat top left / cover; z-index: -1;opacity: 0; width: 10vw; height: 10vw;}
      }
      .swiper-slide{
        .slide{
          @include flex;
          @include flex-direction;
          @include align-items;
          @include justify-content(flex-end);
          > *:not(.winePhoto){visibility: hidden;}
          .winePhoto{
            position: relative; display: block; text-align: center; width: 9.5vw;
          }
          .winePhoto img{
            @include transition(all, 0s);
            width: 5vw;
          }
          strong{display: block; text-align: center;  font-size: 1.5vw; margin: 1vw 0;}
        }
        &.swiper-slide-next{
          *{visibility: visible !important;}
          .winePhoto img{width: 15vw;}
          .winePhoto::before, .winePhoto::after{opacity: 1;}
          .btn_more{background: url("../images/icon/btn_on.png") no-repeat 50% / cover; color: #fff;}
        }
        &.swiper-slide-active{width: 200px;}
        .slide:hover, .slide:focus{
          .winePhoto img{width: 17vw;}
          .winePhoto::before, .winePhoto::after{opacity: 1;}
          .btn_more{background: url("../images/icon/btn_on.png") no-repeat 50% / cover; color: #fff;}
        }
      }
    }
    .swiper-button-prev, .swiper-button-next{
      margin-top: 0; width: 7vw; height: 6vw; background: no-repeat 50% / cover;
      &::after{display: none;}
    }
    .swiper-button-prev{background-image: url("../images/icon/slide_left.png"); left: 5vw; top: 50%; margin-top: -3vw}
    .swiper-button-next{background-image: url("../images/icon/slide_right.png"); right: 5vw; top: 50%; margin-top: -3vw}
  }
  #cnt3{
    @include justify-content(space-between);
    margin: 0 2vw; height: 100vw;
    .left_txt{
      h2{font-size: 6vw;}
      article{
        @include flex-direction;
        position: relative; 
        &::before, &::after{
          display: none;
        }
        .atc_txt{
          padding: 0; margin: 1vw 0vw;
          .num{font-size: 5vw; top: 0;left: 0vw; font-weight: 700;}
          strong{font-size: 2.2vw;}
          .txt{font-size: 1.2vw; line-height: 1.5; padding: 1vw 0;}
         /*  &::before{content:""; display: block;border-radius: 50%;background: rgba(37,37,37,.1); position: absolute; top: 0; left: 0; width: 200px; height: 200px;} */
        }
        .atc_txt:hover, .atc_txt:focus{
          .num, strong{color: $red; font-weight: 700;}
          .btn_more_bk{background-image: url("../images/icon/btn_on.png"); color: #fff;}
        }
      }
    }
    #hoverLine{
      position: absolute;top: 0vw;left: 0; pointer-events: none; z-index: 10; opacity: 0.8;
      #line2{fill: none; stroke: #e23e3d; stroke-linecap: round; stroke-width: 5; stroke-dasharray: 897; stroke-dashoffset: 897; animation: lineHover 0.5s linear forwards;}
    }
    @keyframes lineHover {
      0%{stroke-dashoffset: 897;}
      100%{stroke-dashoffset: 0;}
    }
    #video{
       /*position: absolute; top: 0; right: 7vw; */width: 50%;  height: 80vw;
    }
  }
  #cnt4{
    @include flex;
    @include justify-content(space-between);
    @include align-items;
    height: 60vw;
    .txt_box{
      h2{font-size: 6vw;}
      p{font-size: 1.3vw; line-height: 1.6; padding: 1.7vw 0.5vw;}
      .btn_subscript{
        @include transition(all 0.5s);
        position: relative; display: block; background: url("../images/icon/btn_bk.png") no-repeat 50% / cover; width: 10vw; height: 4vw; font-family: ComicNeue;
        font-size: 1.5vw; text-align: center; line-height: 4vw; font-weight: 700; margin-left: 18vw;  
      }  
    }
    #photo_box{
      .box{
        top: 15%; left: 15%; width: 30vw; height: 43vw; 
        h3{padding-top: 2.5vw; padding-left: 2vw; font-size: 1.8vw;}
        p{padding-top: 1.3vw; padding-left: 2.2vw; font-size: 1.3vw; line-height: 1.5;}        
      }
      .box:not(#box1){margin-left: 33vw;}
      .controller{
        position: absolute; bottom: 0; left: 0;
        @include flex;
        @include justify-content;
        @include align-items;
        background: no-repeat 50% / cover; width: 100%; height: 70px; z-index: 10; 
        .button-prev{background-image: url("../images/icon/slide_left_small.png");  width: 72px; height: 70px; margin-right: 27vw;}
        .button-next{background-image: url("../images/icon/slide_right_small.png"); width: 72px; height: 70px;}
      }
    }
  }
}

@media screen and (max-width: 770px) {
  #cnt1{
    .move_box{
      width: vw-calc770(450); height: vw-calc770(450); overflow: hidden;
      .photo{
        width: vw-calc770(958); height: vw-calc770(1080);
      }
    }
    .txt{
      width: 100%; top: 60%; left: 0; height: 100vh;padding: 0 10vw;
      h2{font-family: ComicNeue; font-weight: 700; font-size: 8vw; color: $red; margin-bottom: 1vw;}
      p{font-size: 1.8vw; line-height: 3vw; letter-spacing: -0.05vw;}
      .txt1{position: absolute; top: 5%;}
      .txt2{text-align: right; position: absolute; top: 65%; right: 10vw;}
    }
    .scrollDown{
      font-size: 2.7vw;
    }
    
  }

}