#cnt1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh;
  background: #FFF1F1; }
  #cnt1 .move_box {
    overflow: hidden;
    width: 600px;
    height: 600px;
    border-radius: 50%; }
    #cnt1 .move_box .photo {
      -webkit-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
      width: 865px;
      height: 1080px; }
  #cnt1 .move_box:hover .photo {
    transform: scale(1.05); }
  #cnt1 .photo img {
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%; }
  #cnt1 .txt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
    left: 0;
    padding: 0 15.2vw 0 14vw; }
    #cnt1 .txt h2 {
      font-family: ComicNeue;
      font-weight: 700;
      font-size: 6.25vw;
      color: #e23e3d;
      margin-bottom: 1vw; }
    #cnt1 .txt p {
      font-size: 1.1vw;
      line-height: 2vw;
      letter-spacing: -0.05vw; }
    #cnt1 .txt span {
      color: #fdf6ee; }
    #cnt1 .txt .txt2 {
      text-align: right; }
  #cnt1 .scrollDown {
    position: absolute;
    top: 93%;
    left: 3%;
    font-family: AmaticSC;
    font-size: 1.7vw; }

#cnt2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh; }
  #cnt2 h2 {
    background: url("../images/main/cnt2_bg.jpg") no-repeat 50%/cover;
    width: 25vw;
    height: 31vw;
    /*  width: 573px; height: 678px;*/
    max-width: 100%;
    border-radius: 45%;
    margin-right: 5vw; }
    #cnt2 h2 span {
      top: 8vw;
      right: 0vw;
      font-family: AmaticSC;
      font-size: 6vw;
      margin-right: -3vw; }
  #cnt2 .swiper-wrapper {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 65vw; }
    #cnt2 .swiper-wrapper .swiper-slide .slide {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      font-family: ComicNeue;
      height: 36vw; }
      #cnt2 .swiper-wrapper .swiper-slide .slide::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../images/fruit/lime1.png");
        width: 10vw;
        height: 10vw;
        z-index: 100; }
      #cnt2 .swiper-wrapper .swiper-slide .slide .winePhoto {
        position: relative;
        display: block;
        text-align: center;
        width: 8.5vw; }
      #cnt2 .swiper-wrapper .swiper-slide .slide .winePhoto img {
        -webkit-transition: width, 0.5s;
        transition: width, 0.5s;
        width: 6vw; }
      #cnt2 .swiper-wrapper .swiper-slide .slide strong {
        display: block;
        text-align: center;
        font-size: 1.5vw;
        margin: 1vw 0; }
    #cnt2 .swiper-wrapper .swiper-slide .slide:hover .winePhoto img, #cnt2 .swiper-wrapper .swiper-slide .slide:focus .winePhoto img {
      width: 8.5vw; }
    #cnt2 .swiper-wrapper .swiper-slide .slide:hover .btn_more, #cnt2 .swiper-wrapper .swiper-slide .slide:focus .btn_more {
      background: url("../images/icon/btn_red_on.png") no-repeat 50%/cover;
      color: #fff; }
  #cnt2 .swiper-button-prev, #cnt2 .swiper-button-next {
    margin-top: 0;
    width: 5vw;
    height: 4.8vw;
    background: no-repeat 50% / cover; }
    #cnt2 .swiper-button-prev::after, #cnt2 .swiper-button-next::after {
      display: none; }
  #cnt2 .swiper-button-prev {
    background-image: url("../images/icon/slide_left.png");
    left: 0; }
  #cnt2 .swiper-button-next {
    background-image: url("../images/icon/slide_right.png");
    right: 0; }

#cnt3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh; }
  #cnt3 .left_txt {
    text-align: center; }
    #cnt3 .left_txt h2 {
      font-size: 6.5vw;
      font-family: AmaticSC;
      padding-bottom: 2vw; }
    #cnt3 .left_txt article {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center; }
    #cnt3 .left_txt .atc_txt {
      padding: 2vw 5vw;
      position: relative; }
      #cnt3 .left_txt .atc_txt .num {
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        font-family: AmaticSC;
        font-weight: 700;
        font-size: 5vw; }
      #cnt3 .left_txt .atc_txt strong {
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        font-family: ComicNeue;
        font-size: 2vw; }
      #cnt3 .left_txt .atc_txt .txt {
        font-size: 1vw;
        line-height: 1.5;
        padding: 1vw 0; }
    #cnt3 .left_txt .atc_txt:hover .num, #cnt3 .left_txt .atc_txt:hover strong, #cnt3 .left_txt .atc_txt:focus .num, #cnt3 .left_txt .atc_txt:focus strong {
      color: #e23e3d; }
    #cnt3 .left_txt .atc_txt:hover .btn_more_bk, #cnt3 .left_txt .atc_txt:focus .btn_more_bk {
      background-image: url("../images/icon/btn_red_on.png");
      color: #fff; }
  #cnt3 #video {
    height: 90vh;
    width: 40vw;
    margin-right: 10vw;
    vertical-align: middle;
    border-radius: 15vw; }

/*# sourceMappingURL=main.css.map */
