@charset "utf-8";
@import "_var", "_mixin", "_function";
@keyframes upDown {
  0%{margin-top: -3px;}
  50%{margin-top: 0px;}
  100%{margin-top: -3px;}
}
@keyframes rotate {
  0%{@include transform(rotate(0deg));}
  100%{@include transform(rotate(360deg));}
}

// 1920
#cnt1{  
  .wrap{
    @include flex;
    @include justify-content;
    @include align-items;
    min-height: 100vh; margin-top: 50px;
    .photo_wrap{
      @include flex;
      @include justify-content;
      @include transition(transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.84));
      width: 50%;
      &::before, &::after{content: ""; display: block; position: absolute; ;background: no-repeat 50% / cover; width: 650px; height: 650px; z-index: -2;}
      &::before{
        top: 17%; left: 5%; background-image: url("../images/icon/cnt1_round_2.png"); animation: rotate 16.5s linear infinite;
      }
      &::after{
        bottom: 3%; left: 8%; background-image: url("../images/icon/cnt1_round_1.png"); animation: rotate 16.5s linear reverse infinite;
      }
    }
    .photo_box{
      position: relative; z-index: 100; width: 600px; height: 600px; border-radius: 50%; overflow: hidden;
      .photo{
        position: relative; width: 928px; height: 1080px; top: -15%; left: -25%;
        img{position: absolute;}
      }
    }      
    .txt_box{
      width: 50%; padding-left: 5vw;
      h2{font-family: Hyemin; font-weight: 700; font-size: 4.8vw; color: $red;}
      p{padding: 5px 0;}
    } 
  }
  .scrollDown{
    position: absolute; bottom: 0%; left: 2%; font-family: Hyemin; opacity: .8; font-size: 1.2vw;
    img{width: 30px; height: 30px; opacity: .5; animation: upDown 1s ease-in-out infinite;}
  }
}

#cnt2{
  @include flex;
  @include align-items(flex-end);
  background: #fff; padding: 2vw 0;
  h2{
    background: url("../images/main/cnt2_bg.jpg") no-repeat 50% / cover;  width: 25vw; height: 31vw; max-width: 100%; border-radius: 45%; position: relative; line-height: 1.2;
    span{position: absolute; top: 80px; right: 50px; font-family: Hyemin; font-size: 4vw; margin-right: -3vw; text-align: right;}
    .seller{top: 160px;}
  }
  .swiper-wrapper{
    @include align-items(flex-end);
    width: 65vw;
    .swiper-slide{
      .slide{
        @include flex;
        @include flex-direction;
        @include align-items;
        @include justify-content(flex-end);
        font-family: Hyemin; height: 36vw; text-align: center;
        strong{margin: 1vw 0; font-family: ComicNeue; font-size: 1.3vw;}
      }
      .slide:hover, .slide:focus{
        .winePhoto img{width: 8vw;}
        .winePhoto::before, .winePhoto::after{opacity: 1;}
        .btn_more{background-image: url("../images/icon/btn_on.png"); color: #fff;}
      }
    }
    .swiper-slide .slide .winePhoto{      
      position: relative;        
      img{
        @include transition(width, 0.35s);
        width: 6vw;
      }
      &::before, &::after{
        @include transition(opacity, 0.4s);
        content:""; display: block; position: absolute; background: no-repeat top left / cover; opacity: 0;
      }
      &::before{
        top: 5vw; left: -2vw; z-index: 1; width: 5.5vw; height: 5.2vw;}
      &::after{
        bottom: 0; right: -6vw; z-index: -1; width: 10vw; height: 10vw;}
    }
    #slide1 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/lime1.png");}
      &::after{
        background-image: url("../images/fruit/lime2.png");}
    }
    #slide2 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/blueberry1.png");}
      &::after{
        background-image: url("../images/fruit/blueberry2.png");width: 8vw; height: 8vw;}
    }
    #slide3 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/shiitake2.png"); width: 8vw; height: 8vw;}
      &::after{
        background-image: url("../images/fruit/shiitake3.png");width: 8vw; height: 7vw; right: -5vw;}
    }
    #slide4 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/pear1.png"); width: 7vw; height: 9vw;}
      &::after{
        background-image: url("../images/fruit/pear2.png");}
    }
    #slide5 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/cherry2.png"); width: 8vw; height: 8vw;}
      &::after{
        background-image: url("../images/fruit/cherry.png");}
    }
    #slide6 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/apple.png"); width: 6vw; height: 6vw;}
      &::after{
        background-image: url("../images/fruit/apple1.png");}
    }
    #slide7 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/chocolate2.png"); width: 6.5vw; height: 6vw;}
      &::after{
        background-image: url("../images/fruit/chocolate.png");width: 10vw; height: 7.5vw; right: -5vw;}
    }

  }
  .swiper-button-prev, .swiper-button-next{
    @include transition(all 0.5s);
    margin-top: 0; width: 4vw; height: 3.8vw; background: no-repeat 50% / cover;
    &::after{display: none;}
  }
  .swiper-button-prev{background-image: url("../images/icon/btn_left_on.png"); left: 0;}
  .swiper-button-prev:hover, .swiper-button-prev:focus{
    @include transform(rotate(-360deg));
  }
  .swiper-button-next{background-image: url("../images/icon/btn_right_on.png"); right: 0;}
  .swiper-button-next:hover, .swiper-button-next:focus{
    @include transform(rotate(360deg));   
  }
  .md_cnt{display: none}
}

#cnt3{
  @include flex;
  @include justify-content(space-between);
  @include align-items;
  height: 100vh; min-height: 100vh; position: relative; padding: 0 0 0 8vw; background: #fff;
  .txt_box{
    h2{font-family: Hyemin; font-size: 4vw;}
    p{padding: 1vw 0.5vw 3vw;}
    .btn_subscript{
      @include transition(all 0.5s);
      position: relative; display: block; background: url("../images/icon/btn_bk.png") no-repeat 50% / cover; width: 7.14vw; height: 2.85vw; font-size: 0.8vw; text-align: center; line-height: 2.85vw;margin-left: 18vw; letter-spacing: 0;
    }
    .btn_subscript_on{
      @include transition(all 0.5s);
      position: relative; display: block; background: url("../images/icon/btn_on.png") no-repeat 50% / cover; width: 7.14vw; height: 2.85vw; font-size: 1vw; text-align: center; line-height: 2.85vw; font-weight: 700; margin-left: 17.9vw;margin-top: 0.1vw; color: #fff; letter-spacing: 0;
    }
    .finger{position: absolute; top: 80%; left: 100%; display: block; width: 3vw; height: 3vw; /* visibility: hidden; */}
  }
  #photo_box{
    position: relative; width: 60%; height: 47vw; overflow: hidden;
    .box{
      position: absolute; top: 10%; left: 10%; width: 25vw; height: 38vw; background: no-repeat 50% / cover; padding: 1vw 1.5vw; border-radius: 30px;
      h3, p{text-shadow: 2px 2px 2px rgba(0, 0, 0, .1)}
      h3{font-size: 1.25vw; }
      p{line-height: 1.7; padding: 10px 0;}
      &#box1{background-image: url("../images/main/cnt5_photo1.jpg");}
      &#box2{
        @include transform(rotate(10deg));
        background-image: url("../images/main/cnt5_photo2.jpg");
      }
      &#box3{
        @include transform(rotate(-10deg));
        background-image: url("../images/main/cnt5_photo3.jpg"); color: #fff; }
      &#box4{
        @include transform(rotate(5deg));
        background-image: url("../images/main/cnt5_photo4.jpg");
      }      
    }
    .box:not(#box1){margin-left: 38vw;}
    .controller{
      position: absolute; top: 80%; left: 0;
      @include flex;
      @include justify-content(flex-start);
      @include align-items;
      width: 100%; height: 70px; z-index: 10; 
      .button-prev,.button-next{
        @include transition(all 0.5s);
        background: no-repeat 50% / cover; width: 52px; height: 50px;}
      .button-prev{background-image: url("../images/icon/btn_left_bk.png"); margin-right: 29.25vw;}
      .button-prev:hover, .button-prev:focus{
        @include transform(rotate(-360deg)); 
        background-image: url("../images/icon/btn_left_on.png");;  
      }
      .button-next{background-image: url("../images/icon/btn_right_bk.png");}
      .button-next:hover, .button-next:focus{
        @include transform(rotate(360deg));
        background-image: url("../images/icon/btn_right_on.png");
      }
    }
  }
}

#cnt4{
  @include flex;
  position: relative; overflow: hidden; width: 100%;
  .event{
    width: calc(100% / 4); height: 100vh;
    &#event1{
      background: url("../images/main/cnt4_bg1.jpg")no-repeat center top / cover;
    }
    &#event2{background: url("../images/main/cnt4_bg2.jpg")no-repeat center bottom / cover;}
    &#event3{background: url("../images/main/cnt4_bg3.jpg")no-repeat 20% 50% / cover;}
    &#event4{background: url("../images/main/cnt4_bg4.jpg")no-repeat center / cover;}
    
    &::before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 0; height: 100%;  opacity: 0; z-index: 1;}
    &#event1::before{background: url("../images/main/cnt4_bg1.jpg")no-repeat center top / cover;}
    &#event2::before{background: url("../images/main/cnt4_bg2.jpg")no-repeat center bottom / cover;}
    &#event3::before{background: url("../images/main/cnt4_bg3.jpg")no-repeat left top / cover;}
    &#event4::before{background: url("../images/main/cnt4_bg4.jpg")no-repeat center / cover;}
    &:hover::before{width: 100%; opacity: 1;}
    &#event1 p, &#event3 p{color: #fff; text-shadow: 1px 1px 2px $bk;}
  }
  a{
    position: relative; z-index: 3;  display: block; height: 100%; text-align: center;
    .event_detail{
      height: 100%;border-right: 1px solid $bk2;
      strong{
        @include transition(all 0.5s);
        display: block; padding-top: 90%; font-size: 1.6vw; font-family: Hyemin; font-weight: 700; width: 100%; color: $lightPink; text-shadow: 2px 3px 3px $bk;
      }
      p{
        text-shadow: 1px 1px 2px #fff;
      }
      p, .btn_more_on{
        @include transition(all 0.5s);
        margin-top: 10px; opacity: 0;
      }
    }
    &:hover .event_detail{
      strong{padding-top: 50%;}
      p, .btn_more_on{opacity: 1;}
    }
  }
}

#cnt5{  
  .cnt_wrap{
    @include flex;
    @include justify-content(space-around);
    padding: 15vh 0; background: #fff;
    .main{
      position: sticky; -webkit-position: sticky; top: 150px; width: 40%; height: 75vh; border-radius: 60px; overflow: hidden; background: $lightPink; box-shadow: 3px 7px 50px rgba(0, 0, 0, .2);
      .txt {
        height: 11.875vw; display: block; padding: 0.5vw 1.823vw;
        h2{
          font-family: Hyemin; font-weight: 700; font-size: 4vw; color: $red;
        }
        .tag{display: block;}
      }
      .img{
        display: block; height: 100%;
        img{height: 100%;}
      }
    }
    .contents{     
      position: relative; width: 50%; height: 100.6vw;
      .wrap_card{
        @include transition(all 0.3s);
        position: absolute; width: 22.833vw; height: 28.4vw; border-radius: 60px; overflow: hidden; background: #fff; box-shadow:4px 7px 20px 6px rgba(0, 0, 0, .2);
        &:hover, &:focus{
          @include translateY(-2%);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, .5);
          strong{color: $red;}
        }
        a{width: 100%; height: 100%;}
        a, .txt, img{display: block;}
        .txt{
          height: 8.854vw; padding: 2vw 1.823vw;
          strong{
            display: block; font-size: 1.25vw; line-height: 1.2; padding-bottom: 0.8vw;
          }
          .tag{
            margin-right: 1.5vw; color: rgba(37,37,37,.5);
          }
        }
        .img{
          height: calc(100% - 8.854vw);
          img{min-height: 100%; width: 100%;max-width: none;}
        }
        &.txt_wrap{padding-top: 1vw;}   
      }
      .wrap_card:nth-child(1){top: 0; left: 0;}
      .wrap_card:nth-child(2){top: 0; right: 0;}
      .wrap_card:nth-child(3){top: 30vw; left: 0;}
      .wrap_card:nth-child(4){top: 13.02vw; right: 0;}
      .wrap_card:nth-child(5){top: calc(30vw * 2); left: 0;}
      .wrap_card:nth-child(6){top: calc(13.02vw + 30vw); right: 0;}
      .wrap_card:nth-child(7){top: calc(30vw * 3); left: 0;}
      .wrap_card:nth-child(8){top: calc(13.02vw + (30vw * 2)); right: 0;}
      .wrap_card:nth-child(9){top: calc(30vw * 4); left: 0;}
      .txt_wrap{height: 11.458vw;}
    }
  }
}

@media screen and (max-width: 1440px) {
  #cnt1{  
    .wrap{
      margin-top: 50px;
      .photo_wrap{        
        &::before, &::after{width: 500px; height: 500px;}
        &::before{
          top: 11.8vw; left: 2.8vw;
        }
        &::after{
          bottom: 2vw; left: 7vw;
        }
      }
      .photo_box{
        width: 480px; height: 480px;        
      }
        
      .txt_box{
       padding-left: 5vw;
        h2{font-size: 5vw;}
        p{padding: 3px 0; font-size: 1.15vw;}
      } 
    }
    .scrollDown{
      font-size: 1.5vw;
    }
  }
  
  #cnt2{
    h2{
      width: 26vw; height: 33vw;
      span{top: 70px; right: 100px;}
    }
    .swiper-wrapper{
      width: 64vw;
      .swiper-slide{
        .slide{
          @include justify-content;
         height: 35vw;
          .winePhoto img{width: 5.5vw;}          
          strong{font-size: 1.45vw;}
        }
        .slide:hover, .slide:focus{
          .winePhoto img{width: 7.3vw;}
        }
      }

      #slide3 .slide .winePhoto{
        &::before{
         width: 9vw; height: 9vw; top: 4vw; left: -3vw;}
        &::after{
         width: 9vw; height: 8vw; right: -5vw;}
      }
      #slide5 .slide .winePhoto{
        &::before{width: 9vw; height: 9vw; top: 3vw; left: -4vw;}        
      }  
    }
    .btn_more, .btn_more_bk, .btn_more_on{font-size: 1.2vw;}
  }
  
  #cnt3{
    padding: 0vw 0 5vw 5vw; height: auto; min-height: auto;
    .txt_box{
      p{padding: 0.5vw 0.5vw 3vw; font-size: 1.1vw;}
      .btn_subscript{
        width: 8vw; height: 3.2vw; font-size: 1vw; line-height: 3.2vw; margin-left: 25vw;
      }
      .btn_subscript_on{
        width: 8vw; height: 3.2vw; font-size: 1vw; line-height: 3.2vw; margin-left: 24.8vw;
      }
    }
    #photo_box{
       width: 55%; height: 41vw;
      .box{
        top: 11%; left: 12%; width: 24vw; height: 35vw;
        h3{font-size: 1.3vw; }
        p{line-height: 1.5; font-size: 1vw;}  
      }
      .box:not(#box1){margin-left: 38vw;}
      .controller{top: 85%;}
    }
  }
  
  #cnt4{
    padding: 0;
    a .event_detail{        
        strong{font-size: 2.2vw;}        
        p{font-size: 1.1vw;}
        button{font-size: 1.2vw;}
      }    
  }
  
  #cnt5{  
    .cnt_wrap{
      .main{
        width: 43%; top: 130px;
        .txt {
          padding: 0.5vw 2.5vw;          
          .tag{display: block; font-size: 1.1vw;}
        }
      }
      .contents{     
       width: 49%;
        .wrap_card{
          border-radius: 50px;
          .txt{           
            strong{font-size: 1.35vw; line-height: 1.2; padding-bottom: 0.8vw;}
            .tag{font-size: 1.1vw;}
          }
        }
        .wrap_card:nth-child(3){top: 30vw; left: 0;}
        .wrap_card:nth-child(4){top: 13.02vw; right: 0;}
        .wrap_card:nth-child(5){top: calc(30vw * 2); left: 0;}
        .wrap_card:nth-child(6){top: calc(13.02vw + 30vw); right: 0;}
        .wrap_card:nth-child(7){top: calc(30vw * 3); left: 0;}
        .wrap_card:nth-child(8){top: calc(13.02vw + (30vw * 2)); right: 0;}
        .wrap_card:nth-child(9){top: calc(30vw * 4); left: 0;}
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  #cnt1{
    .wrap{
      @include justify-content;
      margin-top: 0; 
      .photo_wrap{
        width: auto;
        &::before, &::after{width: 520px; height: 520px;}
        &::before{top: 50%; left: 5vw; margin-top: -280px;}
        &::after{bottom: 50%; left: 8vw; margin-bottom: -280px;}
      }
      .photo_box{width: 490px; height: 490px;}       
      .txt_box{
        width: auto;
        h2{font-size: 5.2vw;}
        p{font-size: 1.4vw;}
      }
    }
    .scrollDown{font-size: 2vw;}    
  }
  #cnt2{
    display: block;
    min-height: auto;
    padding: 80px 0 0;
    h2{
      @include flex;
      @include justify-content;
      background: none; text-align: center; width: 100%; height: 15vw; line-height: 18vw; text-align: center;
       border-radius: 45%; padding: 0; margin: 0;
      span{position: static; font-size: 5.2vw; padding: 0 3vw;}
    }
    .swiper-container{
      width: 71vw;
    }
    .swiper-wrapper{
      @include align-items;
      width: auto;
      .swiper-slide{
        .slide{        
          width: 35vh; min-height: 80vh;
          > *:not(.winePhoto){visibility: hidden;}
          .winePhoto{
            width: 11.5vw; min-width: 11.5vw;
            &::before{
              @include transition(opacity, 0s);
              top: 5vw; left: -2vw; width: 8.9vw; height: 8.5vw;}
            &::after{
              @include transition(opacity, 0s);
              bottom: 0; right: -7vw; width: 15vw; height: 15vw;}              
          }  
          .winePhoto img{
            @include transition(all, 0.5s);
            width: 8vw;
          }         
        }
        &#slide2 .slide .winePhoto{          
          &::after{
            width: 11vw; height: 11vw; right: -7.5vw;}
        }
        &#slide3 .slide .winePhoto{
          &::before{
            width: 12vw; height: 12vw;}
          &::after{
            width: 17vw; height: 14vw; right: -8vw;}
        }
        &#slide4 .slide .winePhoto{
          &::before{
            width: 10vw; height: 12vw;}
          &::after{
            width: 17vw; height: 17vw; right: -9vw;}
        }
        &#slide5 .slide .winePhoto{
          &::before{
           width: 13vw; height: 13vw;}
          &::after{
            width: 17vw; height: 17vw; right: -10vw; bottom: -25px;
            }            
        }
        &#slide6 .slide .winePhoto{
          &::before{
           width: 11vw; height: 11vw;}
        }
        &#slide7 .slide .winePhoto{
          &::before{
           width: 11vw; height: 10vw;}
          &::after{
            width: 18vw; height: 13vw; right: -8vw;
            }            
        }
        &.swiper-slide-active{
          *{visibility: visible !important;}
          .winePhoto img{width: 15vw;}
          .winePhoto::before, .winePhoto::after{opacity: 1;}
          strong{font-size: 2.3vw; line-height: 1.2;}
          .btn_more{
            background: url("../images/icon/btn_on.png") no-repeat 50% / cover; color: #fff;
            font-size: 1.8vw; width: 10vw; height: 4vw; line-height: 4vw;}
          }
        .slide:hover, .slide:focus{
          .winePhoto img{width: 15vw;}
          .winePhoto::before, .winePhoto::after{opacity: 1;}
        }
      }
    }
    .swiper-button-prev, .swiper-button-next{
      margin-top: 0; width: 6vw; height: 6vw; background: no-repeat 50% / cover; top: 30%;
      &::after{display: none;}
    }
    .swiper-button-prev{background-image: url("../images/icon/btn_left_red.png");}
    .swiper-button-next{background-image: url("../images/icon/btn_right_red.png");}
    .swiper-button-prev:hover{background-image: url("../images/icon/btn_left_on.png");}
    .swiper-button-next:hover{background-image: url("../images/icon/btn_right_on.png");}
  }
  #cnt3{
    @include flex-direction;
    @include justify-content(flex-start);
    padding: 80px 0; background: $lightPink; height: auto; min-height: auto;
    .txt_box{
      padding-bottom: 50px;
      h2{font-size: 5.2vw;}
      p{padding: 1vw 0vw 0vw; font-size: 1.4vw;}
      .btn_subscript{
        width: 10vw; height: 4vw;line-height: 4vw; 
        font-size: 1.4vw; margin-left: 30vw; margin-top: -7vw;
        background-image: url("../images/icon/btn_on.png"); color: #fff;
      }      
      .finger{position: absolute; top: 90%; left: 80%; display: block; width: 3.5vw; height: 3.5vw;}
    }
    #photo_box{
      position: relative; width: 60%; height: 45vw; overflow: hidden;
      .box{
        @include translateX-50;
        top: 5%; left: 50%; width: 55%; height: 40vw; padding: 1vw 2.5vw;        
        h3{font-size: 2vw; line-height: 2.5;}
        p{font-size: 1.4vw; line-height: 1.3;}
      }
      .controller{
        @include justify-content(space-between);
        margin-top: -3vw;
        .button-prev{margin-right: 0vw;}
      }
    }
  }
  #cnt4{
    position: relative; overflow: hidden; width: 100%; display: block;
    .event{
      width: 100%; height: calc(100vh / 4);
      &#event1{
        background-position: center 20%;
      }
      &#event2{background-position: center 80%;}
      &#event3{background-position: 10% 40%;}
    }
    a{
      .event_detail{
        @include flex;
        @include justify-content(flex-start);
        @include align-items;
        border-top: 1px solid $bk2; border-bottom: 1px solid $bk2; border-bottom: 1px solid transparent;
        strong, p{ display: inline-block;}
        strong{
          padding-top: 0; font-size: 3.5vw; padding-left: 30%;
        }
        p, span{
          @include transition(all 0.3s);
          opacity: 0;
        }
        p{
          text-shadow: 1px 1px 2px #fff; font-size: 1.6vw;
        }
        span{font-size: 1.8vw; width: 10.4vw; height: 4.1vw;
          line-height: 4.1vw;}
      }
      &:hover .event_detail{
        strong{padding-top: 0; color: $red; padding-left: 5%; width: 30%;}
        p{opacity: 1; width: 53%;}
        span{opacity: 1;}
      }
    }
  }
  #cnt5{  
    .cnt_wrap{
      padding: 100px 0;
      .main{
        top: 140px; width: 55%; height: 75vh; border-radius: 30px;
        .txt {
          height: 18vw; padding: 2vw 2.5vw;
          h2{font-size: 5.2vw; line-height: 1.6;}
          .tag{font-size: 1.6vw; line-height: 1.6;}
        }
        .img, .img img{height: 100%;}
      }
      .contents{     
        width: 33%; height: 144.8vw;
        .wrap_card{
         width: 100%; height: 28vw; border-radius: 30px;
          .txt{
            padding: 1vw 2vw;
            strong{
              font-size: 1.6vw; line-height: 1.3; 
            }
            .tag{font-size: 1.4vw;}
          }  
        }
        .txt_wrap{height: 11vw;}
        .wrap_card:nth-child(2){top: 30vw; left: 0;}
        .wrap_card:nth-child(3){top: calc(30vw + 13vw); left: 0;}
        .wrap_card:nth-child(4){top: calc((30vw * 2) + 13vw); left: 0;}
        .wrap_card:nth-child(5){top: calc((30vw * 3) + 13vw); left: 0;}
        .wrap_card:nth-child(7){top: calc((30vw * 4) + 13vw); left: 0;}
        .wrap_card:nth-child(6){display: none;}
        .wrap_card:nth-child(8){display: none;}
      }
    }
  }
}

@media screen and (max-width: 770px) {
  #cnt1{
    .wrap{
      display: block;
      margin-top: 0; position: relative;
      .photo_wrap{
        width: auto; position: absolute; bottom: 10%; left: 7%;
        &::before, &::after{width: 400px; height: 400px;}
        &::before{top: 50%; left: -5vw; margin-top: -215px;}
        &::after{bottom: 50%; left: 3vw; margin-bottom: -215px;}
      }
      .photo_box{
        width: 380px; height: 380px;
        .photo{left: -45%; top: -40%;}
      }       
      .txt_box{
        width: auto; position: absolute; top: 15%; right: 5%; text-shadow: 2px 2px 5px #fff;
        h2{font-size: 7.5vw; text-align: right;}
        p{font-size: 2.5vw; text-align: right;}
      }
    }
    .scrollDown{font-size: 2.5vw;}    
  }
  #cnt2{
    padding: 80px 0 0;
    h2 span{font-size: 7.5vw;} 
    .swiper-container{width: 80vw;}
    .swiper-wrapper{
      .swiper-slide{
        .slide{        
          width: 25vh; min-height: 80vh;
          .winePhoto{width: 17.5vw; min-width: 15.5vw;}  
          .winePhoto img{width: 12vw;}         
        }
        .slide .winePhoto{
          &::before{width: 9.9vw; height: 9.5vw;}
          &::after{width: 18vw; height: 18vw; right: -11vw;}
        }
        &#slide2 .slide .winePhoto{
          &::after{width: 10vw; height: 10vw;}
        }
        &#slide3 .slide .winePhoto{
          &::before{
            width: 14vw; height: 15vw;}
          &::after{
            width: 18vw; height: 15vw; right: -10vw;}
        }
        &#slide4 .slide .winePhoto{
          &::before{
            width: 12vw; height: 13vw;}
          &::after{
            width: 19vw; height: 19vw; right: -11vw;}
        }
        &#slide5 .slide .winePhoto{
          &::before{width: 15vw; height: 17vw;}
          &::after{width: 19vw; height: 19vw; right: -9vw;}            
        }
        &#slide7 .slide .winePhoto{
          &::before{width: 13vw; height: 12vw; left: -5vw;}
          &::after{width: 23vw; height: 17vw;}            
        }
        &.swiper-slide-active{
          .winePhoto img{width: 17.5vw;}
          strong{font-size: 3.2vw; line-height: 1.2;}
          .btn_more{font-size: 2.5vw; width: 15vw; height: 6vw; line-height: 6vw;}
        }
        .slide:hover, .slide:focus{
          .winePhoto img{width: 17.5vw;}
        }
      }
    }
    .swiper-button-prev, .swiper-button-next{
      margin-top: 0; width: 6.5vw; height: 6.5vw;
    }
    .swiper-button-prev{background-image: url("../images/icon/btn_left_red.png");}
    .swiper-button-next{background-image: url("../images/icon/btn_right_red.png");}
    .swiper-button-prev:hover{background-image: url("../images/icon/btn_left_on.png");}
    .swiper-button-next:hover{background-image: url("../images/icon/btn_right_on.png");}
  }
  #cnt3{
    padding: vw-calc770(80) 0 vw-calc770(80);
    .txt_box{
      position: relative; padding-bottom: 0;
      h2{font-size: 7.5vw;}
      p{padding: 0.5vw 2vw 0vw; font-size: 2.5vw;}
      .btn_subscript{
        position: absolute; bottom: 5px; right: -60px;
        width: 20.2vw; height: 8.2vw; font-size: 2.5vw; line-height: 8.2vw; margin-left: 0;
      }
      .finger{width: 5.5vw; height: 5.5vw;}
    }
    #photo_box{
       width: 70%; height: 63vw;
      .box{
        top: 11%; left: 50%; width: 42vw; height: 53vw;
        h3{font-size: 3vw; }
        p{line-height: 1.5; font-size: 2vw;}  
      }
    }
  }
  #cnt4{
    a{
      .event_detail{
        strong{font-size: 5vw;}       
        p{font-size: 2.3vw;}
        button{font-size: 2.3vw; width: 14vw; height: 5.6vw; line-height: 5.6vw;}
      }
      &:hover .event_detail{
        strong{color: $red; width: 32%;}
      }
    }
  }
  #cnt5{  
    .cnt_wrap{      
      display: block; padding: 80px 30px 0;
      .main{
        position: static; width: auto; height: auto; background: transparent; box-shadow: none; margin-bottom: 30px;
        .txt {
          height: auto; display: block; padding: 0.5vw 1.823vw;
          h2{font-size: 7.5vw;}
          .tag{font-size: 2.5vw;}
        }
        .img{visibility: hidden; max-height: 0;
        }
      }
      .contents{     
        position: relative; width: 100%; height: 137vw;
        .wrap_card{
          position: absolute; width: 48%; height: 36vw; border-radius: 25px; box-shadow:4px 7px 10px rgba(0, 0, 0, .2);
          &:hover, &:focus{
            box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
          }
          .txt{
            height: 13vw; padding: 2vw;
            strong{
              display: block; font-weight: 400; font-size: 2.5vw; line-height: 1.2; padding-bottom: 0.8vw;
            }
            .tag{
              margin-right: 1.5vw; color: rgba(37,37,37,.5); font-size: 2vw;
            }
          }
          .img{
            height: calc(100% - 13vw); overflow: hidden;
            img{min-height: 100%; width: 100%;max-width: none; margin-top: -45px;}
          }
          &.txt_wrap{padding-top: 1vw;}   
        }
        .wrap_card:nth-child(1){top: 0; left: 0;}
        .wrap_card:nth-child(2){top: 0; right: 0; left: auto;}
        .wrap_card:nth-child(3){top: 39vw; left: 0;}
        .wrap_card:nth-child(4){top: 21vw; right: 0; left: auto;}
        .wrap_card:nth-child(5){top: calc(39vw * 2); left: 0;}
        .wrap_card:nth-child(6){top: calc(21vw + 39vw); right: 0; left: auto; display: block;}
        .wrap_card:nth-child(7){top: calc(39vw * 3); left: 0;}
        .wrap_card:nth-child(8){top: calc(21vw + (39vw * 2)); right: 0; left: auto; display: block;}
        .wrap_card:nth-child(9){top: calc(39vw * 4); left: 0; display: block;}
        .txt_wrap{height: 18vw;}
      }
    }
  }
}