@charset "utf-8";
@import "_var", "_mixin", "_function";
@keyframes upDown {
  0%{margin-top: -3px;}
  50%{margin-top: 0px;}
  100%{margin-top: -3px;}
}
@keyframes rotate {
  0%{@include transform(rotate(0deg));}
  100%{@include transform(rotate(360deg));}
}

// 1920
#cnt1{  
  .wrap{
    @include flex;
    @include justify-content;
    @include align-items;
    min-height: 100vh; margin-top: 50px;
    .photo_wrap{
      @include flex;
      @include justify-content;
      @include transition(transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.84));
      width: 50%; position: relative;
      &::before, &::after{content: ""; display: block; position: absolute; ;background: no-repeat 50% / cover; width: 32vw; height: 32vw; z-index: -2;}
      &::before{
        top: 50%; left: 50%; margin-top: -16vw; margin-left: -16vw; background-image: url("../images/icon/cnt1_round_2.png"); animation: rotate 16.5s linear infinite;
      }
      &::after{
        top: 50%; left: 50%; margin-left: -16vw; margin-top: -16vw; background-image: url("../images/icon/cnt1_round_1.png"); animation: rotate 16.5s linear reverse infinite;
      }
    }
    .photo_box{
      position: relative; z-index: 100; width: 30vw; height: 30vw; border-radius: 50%; overflow: hidden;
      .photo{
        position: relative; width: 928px; height: 1080px; top: -6vw; left: -10vw;
        img{position: absolute; top: 0; left: 0;}
      }
    }      
    .txt_box{
      width: 50%; padding-left: 5vw;
      h2{font-family: Hyemin; font-weight: 700; font-size: 60px; color: $red;}
      p{padding: 5px 0;}
    } 
  }
  .scrollDown{
    position: absolute; bottom: 0%; left: 2%; font-family: Hyemin; opacity: .8; font-size: 1.2vw;
    img{width: 30px; height: 30px; opacity: .5; animation: upDown 1s ease-in-out infinite;}
  }
}

#cnt2{
  @include flex;
  @include align-items(flex-end);
  background: #fff; height: 100vh; padding-bottom: 20vh;
  h2{
    background: url("../images/main/cnt2_bg.jpg") no-repeat 50% / cover;  width: 25vw; height: 31vw; max-width: 100%; border-radius: 45%; position: relative; line-height: 1.2;
    span{position: absolute; top: 80px; right: 50px; font-family: Hyemin; font-size: 4vw; margin-right: -3vw; text-align: right;}
    .seller{top: 160px;}
  }
  .swiper-wrapper{
    @include align-items(flex-end);
    width: 70vw;
    .swiper-slide{
      .slide{
        @include flex;
        @include flex-direction;
        @include align-items;
        @include justify-content(flex-end);
        font-family: Hyemin; text-align: center; height: 70vh;
        strong{margin: 1vw 0; font-family: ComicNeue; font-size: 1.4vw;}
      }
      .slide:hover, .slide:focus{
        .winePhoto img{width: 7vw;}
        .winePhoto::before, .winePhoto::after{opacity: 1;}
        .btn_more{background-image: url("../images/icon/btn_on.png"); color: #fff;}
      }
    }
    .swiper-slide .slide .winePhoto{      
      position: relative;        
      img{
        @include transition(width, 0.35s);
        width: 6vw;
      }
      &::before, &::after{
        @include transition(opacity, 0.4s);
        content:""; display: block; position: absolute; background: no-repeat top left / cover; opacity: 0;
      }
      &::before{
        top: 5vw; left: -2vw; z-index: 1; width: 5.5vw; height: 5.2vw;}
      &::after{
        bottom: 0; right: -6vw; z-index: -1; width: 10vw; height: 10vw;}
    }
    #slide1 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/lime1.png");}
      &::after{
        background-image: url("../images/fruit/lime2.png");}
    }
    #slide2 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/blueberry1.png");}
      &::after{
        background-image: url("../images/fruit/blueberry2.png");width: 8vw; height: 8vw;}
    }
    #slide3 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/shiitake2.png"); width: 8vw; height: 8vw;}
      &::after{
        background-image: url("../images/fruit/shiitake3.png");width: 8vw; height: 7vw; right: -5vw;}
    }
    #slide4 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/pear1.png"); width: 7vw; height: 9vw;}
      &::after{
        background-image: url("../images/fruit/pear2.png");}
    }
    #slide5 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/cherry2.png"); width: 8vw; height: 8vw;}
      &::after{
        background-image: url("../images/fruit/cherry.png");}
    }
    #slide6 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/apple.png"); width: 6vw; height: 6vw;}
      &::after{
        background-image: url("../images/fruit/apple1.png");}
    }
    #slide7 .slide .winePhoto{
      &::before{
       background-image: url("../images/fruit/chocolate2.png"); width: 6.5vw; height: 6vw;}
      &::after{
        background-image: url("../images/fruit/chocolate.png");width: 10vw; height: 7.5vw; right: -5vw;}
    }

  }
  .swiper-button-prev, .swiper-button-next{
    @include transition(all 0.5s);
    margin-top: 0; width: 4vw; height: 3.8vw; background: no-repeat 50% / cover;
    &::after{display: none;}
  }
  .swiper-button-prev{
    left: 0; background-image: url("../images/icon/btn_left_red.png");
  }
  .swiper-button-prev:hover, .swiper-button-prev:focus{
    @include transform(rotate(-360deg));
    background-image: url("../images/icon/btn_left_on.png");
  }
  .swiper-button-next{background-image: url("../images/icon/btn_right_red.png"); right: 0;}
  .swiper-button-next:hover, .swiper-button-next:focus{
    @include transform(rotate(360deg));
    background-image: url("../images/icon/btn_right_on.png"); 
  }
  .md_cnt{display: none}
}

#cnt3{
  @include flex;
  @include justify-content(space-between);
  @include align-items;
  height: 100vh; position: relative; padding: 0 0 0 8vw;
  .txt_box{
    h2{font-family: Hyemin; font-size: 4vw;}
    p{padding-left: 0.6vw}
    .btn_subscript{
      @include transition(all 0.5s);
      position: relative; display: block; background: url("../images/icon/btn_bk.png") no-repeat 50% / cover; width: 7.14vw; height: 2.85vw; font-size: 1vw; text-align: center; line-height: 2.85vw;margin-left: 18vw; letter-spacing: 0;
    }
    .btn_subscript_on{
      @include transition(all 0.5s);
      position: relative; display: block; background: url("../images/icon/btn_on.png") no-repeat 50% / cover; width: 7.14vw; height: 2.85vw; font-size: 1vw; text-align: center; line-height: 2.85vw; font-weight: 700; margin-left: 17.9vw;margin-top: 0.1vw; color: #fff; letter-spacing: 0;
    }
    .finger{position: absolute; top: 80%; left: 100%; display: block; width: 3vw; height: 3vw; /* visibility: hidden; */}
  }
  #photo_box{
    position: relative; width: 60%; height: 88vh; overflow: hidden;
    .box{
      position: absolute; top: 10%; left: 10%; width: 25vw; height: 38vw; background: no-repeat 50% / cover; padding: 1vw 1.5vw; border-radius: 30px;
      h3, p{text-shadow: 2px 2px 2px rgba(0, 0, 0, .1)}
      h3{font-size: 25px;}
      p{line-height: 1.7; padding: 10px 0; font-size: 18px}
      &#box1{background-image: url("../images/main/cnt5_photo1.jpg");}
      &#box2{
        @include transform(rotate(10deg));
        background-image: url("../images/main/cnt5_photo2.jpg");
      }
      &#box3{
        @include transform(rotate(-10deg));
        background-image: url("../images/main/cnt5_photo3.jpg"); color: #fff; 
      }
      &#box4{
        @include transform(rotate(5deg));
        background-image: url("../images/main/cnt5_photo4.jpg"); color: #fff;
      }      
    }
    .box:not(#box1){margin-left: 38vw;}
    .controller{
      position: absolute; top: 80%; left: 0;
      @include flex;
      @include justify-content(flex-start);
      @include align-items;
      width: 100%; height: 70px; z-index: 10; 
      .button-prev,.button-next{
        @include transition(all 0.5s);
        background: no-repeat 50% / cover; width: 52px; height: 50px;}
      .button-prev{background-image: url("../images/icon/btn_left_bk.png"); margin-right: 29.25vw;}
      .button-prev:hover, .button-prev:focus{
        @include transform(rotate(-360deg)); 
        background-image: url("../images/icon/btn_left_on.png");;  
      }
      .button-next{background-image: url("../images/icon/btn_right_bk.png");}
      .button-next:hover, .button-next:focus{
        @include transform(rotate(360deg));
        background-image: url("../images/icon/btn_right_on.png");
      }
    }
  }
}

#cnt4{
  @include flex;
  position: relative; overflow: hidden; width: 100%;
  .event{
    width: calc(100% / 4); height: 100vh;
    p{font-size: 16px}
    &#event1{
      background: url("../images/main/cnt4_bg1.jpg")no-repeat center top / cover;
    }
    &#event2{background: url("../images/main/cnt4_bg2.jpg")no-repeat center bottom / cover;}
    &#event3{background: url("../images/main/cnt4_bg3.jpg")no-repeat 20% 50% / cover;}
    &#event4{background: url("../images/main/cnt4_bg4.jpg")no-repeat center / cover;}
    
    &::before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 0; height: 100%;  opacity: 0; z-index: 1;}
    &#event1::before{background: url("../images/main/cnt4_bg1.jpg")no-repeat center top / cover;}
    &#event2::before{background: url("../images/main/cnt4_bg2.jpg")no-repeat center bottom / cover;}
    &#event3::before{background: url("../images/main/cnt4_bg3.jpg")no-repeat left top / cover;}
    &#event4::before{background: url("../images/main/cnt4_bg4.jpg")no-repeat center / cover;}
    &:hover::before{width: 100%; opacity: 1;}
    &#event1 p, &#event3 p{color: #fff; text-shadow: 1px 1px 2px $bk;}
  }
  a{
    position: relative; z-index: 3;  display: block; height: 100%; text-align: center;
    .event_detail{
      height: 100%;border-right: 1px solid $bk2;
      strong{
        @include transition(all 0.5s);
        display: block; padding-top: 90%; font-size: 30px; font-family: Hyemin; font-weight: 700; width: 100%; color: $lightPink; text-shadow: 2px 3px 3px $bk;
      }
      p{
        text-shadow: 1px 1px 2px #fff;
      }
      p, .btn_more_on{
        @include transition(all 0.5s);
        margin-top: 10px; opacity: 0;
      }
    }
    &:hover .event_detail{
      strong{padding-top: 50%;}
      p, .btn_more_on{opacity: 1;}
    }
  }
}

#cnt5{  
  .cnt_wrap{
    @include flex;
    @include justify-content(space-around);
    padding: 15vh 0; background: #fff;
    .main{
      position: sticky; -webkit-position: sticky; top: 150px; width: 40%; height: 75vh; border-radius: 60px; overflow: hidden; background: $lightPink; box-shadow: 3px 7px 50px rgba(0, 0, 0, .2);
      .txt {
        height: 11.875vw; display: block; padding: 1.5vw 1.823vw;
        h2{
          font-family: Hyemin; font-weight: 700; font-size: 50px; color: $red;
        }
        .tag{display: block;}
      }
      .img{
        height: calc(100% - 11.875vw);
        img{min-height: 100%; width: 100%; max-width: none;}
      }
    }
    .contents{     
      position: relative; width: 50%; height: 100.6vw;
      .wrap_card{
        @include transition(all 0.3s);
        position: absolute; width: 22.833vw; height: 28.4vw; border-radius: 60px; overflow: hidden; background: #fff; box-shadow:4px 7px 20px 6px rgba(0, 0, 0, .2);
        &:hover, &:focus{
          @include translateY(-2%);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, .5);
          strong{color: $red;}
        }
        a{width: 100%; height: 100%;}
        a, .txt, img{display: block;}
        .txt{
          height: 8.854vw; padding: 2vw 1.823vw;
          strong{
            display: block; font-size: 23px; line-height: 1.2; padding-bottom: 0.8vw;
          }
          .tag{
            margin-right: 1.5vw; color: rgba(37,37,37,.5);
          }
        }
        .img{
          height: calc(100% - 8.854vw);
          img{min-height: 100%; width: 100%;max-width: none;}
        }
        &.txt_wrap{padding-top: 1vw;}   
      }
      .wrap_card:nth-child(1){top: 0; left: 0;}
      .wrap_card:nth-child(2){top: 0; right: 0;}
      .wrap_card:nth-child(3){top: 30vw; left: 0;}
      .wrap_card:nth-child(4){top: 13.02vw; right: 0;}
      .wrap_card:nth-child(5){top: calc(30vw * 2); left: 0;}
      .wrap_card:nth-child(6){top: calc(13.02vw + 30vw); right: 0;}
      .wrap_card:nth-child(7){top: calc(30vw * 3); left: 0;}
      .wrap_card:nth-child(8){top: calc(13.02vw + (30vw * 2)); right: 0;}
      .wrap_card:nth-child(9){top: calc(30vw * 4); left: 0;}
      .txt_wrap{height: 11.458vw;}
    }
  }
}

@media screen and(max-width: 1536px) {
  #cnt5 .cnt_wrap .contents .wrap_card {
    border-radius: 45px;
    .txt .tag{
      margin-right: 1vw;
    }
  }
}

@media screen and (max-width: 1440px) {
  #cnt1{  
    .wrap{
      .photo_wrap{
        .photo_box{width: 35vw; height: 35vw}
        &::before, &::after{width: 37vw; height: 37vw; margin-top: -18.5vw; margin-left: -18.5vw;}
      }    
      .txt_box{
       padding-left: 5vw;
      } 
    }
    .scrollDown{
      font-size: 20px;
    }
  }
  
  #cnt2{
    @include align-items(center);
    height: 60vh; padding-bottom: 0;
    h2{
      width: 26vw; height: 33vw;
      span{top: 70px; right: 100px;}
    }
    .swiper-wrapper{
      .swiper-slide{
        .slide{
          @include justify-content;
          .winePhoto img{width: 5.5vw;}          
          strong{font-size: 22px}
        }
        .slide:hover, .slide:focus{
          .winePhoto img{width: 7.3vw;}
        }
      }

      #slide3 .slide .winePhoto{
        &::before{
         width: 9vw; height: 9vw; top: 4vw; left: -3vw;}
        &::after{
         width: 9vw; height: 8vw; right: -5vw;}
      }
      #slide5 .slide .winePhoto{
        &::before{width: 9vw; height: 9vw; top: 3vw; left: -4vw;}        
      }  
    }
    .btn_more, .btn_more_bk, .btn_more_on{font-size: 18px;}
  }
  
  #cnt3{
    .txt_box{      
      .btn_subscript{
        width: 10.5vw; height: 4.2vw; font-size: 16px; line-height: 4.2vw; margin-left: 25vw;
      }
      .btn_subscript_on{
        width: 10.5vw; height: 4.2vw; font-size: 16px; line-height: 4.2vw; margin-left: 25vw;
      }
    }
    #photo_box{
       width: 55%; height: 60vh;
      .box{
        top: 11%; left: 12%; width: 25vw; height: 35vw;
        h3{font-size: 20px}
        p{line-height: 1.5; font-size: 16px}  
      }
      .box:not(#box1){margin-left: 38vw;}
      .controller{top: auto; bottom: 20%;}
    }
  }
  
  #cnt5{  
    .cnt_wrap{
      .main{
        width: 43%; top: 130px; left: 0;
        .txt {
          padding: 0.3vw 2.5vw;       
        }
      }
      .contents{     
       width: 49%;
        .wrap_card{
          border-radius: 30px;
          .txt{     
            padding-top: 1.5vw;      
            strong{font-size: 19px; line-height: 1.2; padding-bottom: 0.8vw;}
            .tag{font-size: 16px}
          }
        }
        .wrap_card:nth-child(3){top: 30vw; left: 0;}
        .wrap_card:nth-child(4){top: 13.02vw; right: 0;}
        .wrap_card:nth-child(5){top: calc(30vw * 2); left: 0;}
        .wrap_card:nth-child(6){top: calc(13.02vw + 30vw); right: 0;}
        .wrap_card:nth-child(7){top: calc(30vw * 3); left: 0;}
        .wrap_card:nth-child(8){top: calc(13.02vw + (30vw * 2)); right: 0;}
        .wrap_card:nth-child(9){top: calc(30vw * 4); left: 0;}
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  #cnt1{    
    .wrap{
      @include justify-content;
      margin-top: 0; 
      .photo_wrap{
        width: auto;
        &::before, &::after{width: 540px; height: 540px;}
        &::before{margin-top: -270px; margin-left: -270px;}
        &::after{margin-top: -270px; margin-left: -270px;}
        .photo_box{width: 515px; height: 515px}       
      }
      .txt_box{
        width: auto;
        h2{font-size: 60px;}
        p{font-size: 18px;}
      }
    }
    .scrollDown{font-size: 20px;}    
  }
  #cnt2{
    // @include flex-direction;
    @include justify-content(center);
    height: 100vh; min-height: 100vh; padding: 2vw; flex-direction: column;
    h2{
      @include flex;
      @include justify-content;
      background: none; text-align: center; width: 100%; height: 11vw; line-height: 11vw; text-align: center; border-radius: 45%; padding: 0; margin: 0;
      span{position: static; font-size: 60px; padding: 2vw 3vw 0;}
    }
    .swiper-wrapper{
      @include align-items;
      .swiper-slide{
        .slide{        
          width: 100%; min-height: 70vh;
          > *:not(.winePhoto){visibility: hidden; max-height: 0; width: 300%;}
          .winePhoto{
            width: 11.5vw; min-width: 11.5vw;
            &::before{
              @include transition(opacity, 0s);
              top: 5vw; left: -2vw; width: 8.9vw; height: 8.5vw;}
            &::after{
              @include transition(opacity, 0s);
              bottom: 0; right: -7vw; width: 15vw; height: 15vw;}              
          }  
          .winePhoto img{
            @include transition(all, 0.5s);
            width: 8vw;
          }         
        }
        &#slide2 .slide .winePhoto{          
          &::after{
            width: 11vw; height: 11vw; right: -7.5vw;}
        }
        &#slide3 .slide .winePhoto{
          &::before{
            width: 12vw; height: 12vw;}
          &::after{
            width: 17vw; height: 14vw; right: -8vw;}
        }
        &#slide4 .slide .winePhoto{
          &::before{
            width: 10vw; height: 12vw;}
          &::after{
            width: 17vw; height: 17vw; right: -9vw;}
        }
        &#slide5 .slide .winePhoto{
          &::before{
           width: 13vw; height: 13vw;}
          &::after{
            width: 17vw; height: 17vw; right: -10vw; bottom: -25px;
            }            
        }
        &#slide6 .slide .winePhoto{
          &::before{
           width: 11vw; height: 11vw;}
        }
        &#slide7 .slide .winePhoto{
          &::before{
           width: 11vw; height: 10vw;}
          &::after{
            width: 18vw; height: 13vw; right: -8vw;
            }            
        }
        &.swiper-slide-active{
          *{visibility: visible !important; max-height: fit-content !important;}
          .winePhoto img{width: 15vw !important;}
          .winePhoto::before, .winePhoto::after{opacity: 1 !important;}
          strong{font-size: 30px; line-height: 1.2;}
          .btn_more{
            background: url("../images/icon/btn_on.png") no-repeat 50% / cover; color: #fff;
            font-size: 20px; width: 12vw; height: 4.8vw; line-height: 4.8vw;}
          }
        .slide:hover, .slide:focus{
          .winePhoto img{width: 8vw}
          .winePhoto::before, .winePhoto::after{opacity: 0;}
        }
      }
    }
    .swiper-button-prev, .swiper-button-next{
      margin-top: 0; width: 6vw; height: 6vw; background: no-repeat 50% / cover; top: 30%;
      &::after{display: none;}
    }
    .swiper-button-prev{background-image: url("../images/icon/btn_left_red.png");}
    .swiper-button-next{background-image: url("../images/icon/btn_right_red.png");}
    .swiper-button-prev:hover{background-image: url("../images/icon/btn_left_on.png");}
    .swiper-button-next:hover{background-image: url("../images/icon/btn_right_on.png");}
  }
  #cnt3{
    @include flex-direction;
    @include justify-content(center);
    background: $lightPink; min-height: auto; height: 100vh; padding: 0;
    .txt_box{
      h2{font-size: 50px}
      p{padding: 1vw 0 2vw; font-size: 18px;}
      p:last-of-type{max-height: 0; overflow: hidden; visibility: hidden; padding: 0;}
      .btn_subscript{
        width: 11.3vw; height: 4.5vw;line-height: 4vw;
        font-size: 16px; margin: 0; letter-spacing: -0.05em;
        background-image: url("../images/icon/btn_on.png"); color: #fff;
      }      
      .finger{visibility: hidden; overflow: hidden; max-height: 0; width: 0}
    }
    #photo_box{
      position: relative; width: 70%; height: 60vh; overflow: hidden;
      .box{
        @include translateX-50;
        top: 5%; left: 50%; width: 55%; height: 55vh; padding: 1vw 2.5vw;        
        h3{font-size: 25px; line-height: 2;}
        p{font-size: 16px; line-height: 1.3;}
      }
      .controller{
        @include justify-content(space-between);
        margin-top: -3vw;
        .button-prev{margin-right: 0vw;}
      }
    }
  }
  #cnt4{
    position: relative; overflow: hidden; width: 100%; display: block;
    .event{
      width: 100%; height: calc(100vh / 4);
      &#event1{
        background-position: center 20%;
      }
      &#event2{background-position: center 80%;}
      &#event3{background-position: 10% 40%;}
    }
    a{
      .event_detail{
        @include flex;
        @include justify-content(flex-start);
        @include align-items;
        border-top: 1px solid $bk2; border-bottom: 1px solid $bk2; border-bottom: 1px solid transparent;
        strong{
          display: inline-block; padding-top: 0; font-size: 30px; padding-left: 30%;
        }
        p, span{visibility: hidden; max-height: 0; overflow: hidden;}


      }
      &:hover .event_detail{
        strong{padding-top: 0; color: $red;}
      }
    }
  }
  #cnt5{  
    .cnt_wrap{
      padding: 100px 0;
      .main{
        top: 140px; width: 55%; height: 75vh; border-radius: 30px;
        .txt {
          height: 19vw; padding: 2vw 2.5vw;
          h2{font-size: 50px; line-height: 1.6;}
          .tag{font-size: 18px; line-height: 1.6;}
        }
        .img{height: calc(100% - 19vw);}
      }
      .contents{     
        width: 33%; height: 144.8vw;
        .wrap_card{
         width: 100%; height: 28vw; border-radius: 30px;
          .txt{
            padding: 1.5vw 2vw; height: 9.854vw;;
            strong{
              font-size: 18px; line-height: 1.3;  padding-bottom: 0;
            }
          } 
          .img{
            height: calc(100% - 9.854vw);
          }
        }
        .txt_wrap{height: 11vw;}
        .wrap_card:nth-child(2){top: 30vw; left: 0; padding-top: 0;}
        .wrap_card:nth-child(3){top: calc(30vw + 13vw); left: 0;}
        .wrap_card:nth-child(4){top: calc((30vw * 2) + 13vw); left: 0;}
        .wrap_card:nth-child(5){top: calc((30vw * 3) + 13vw); left: 0;}
        .wrap_card:nth-child(7){top: calc((30vw * 4) + 13vw); left: 0; padding-top: 0;}
        .wrap_card:nth-child(6){display: none;}
        .wrap_card:nth-child(8){display: none;}
      }
    }
  }
}

@media screen and (max-width: 770px) {
  #cnt1{    
    .wrap{
      display: block; position: relative; overflow: hidden;
      .photo_wrap{
        position: absolute; bottom: 80px; right: 15%; z-index: -1;
        &::before, &::after{width: 450px; height: 450px;}
        &::before{margin-top: -210px; margin-left: -210px;}
        &::after{margin-top: -220px; margin-left: -220px;}
        .photo_box{width: 420px; height: 420px}       
      }
      .txt_box{
        position: absolute; top: 90px; left: 5.5vw; padding-left: 0;
        h2{font-size: 50px;}
        p{font-size: 16px;}
      }
    }
  }
  #cnt2{
    h2{
      span{font-size: 45px;}
    }

    .swiper-wrapper {
      .swiper-slide.swiper-slide-active{
        strong{font-size: 20px;}
        .btn_more{font-size: 18px;}
      }
      .swiper-slide .slide{
        strong, button{margin-top: 15px;}
      }
    }
    .swiper-button-prev, .swiper-button-next{
      top: 45%;
    }
  }
  #cnt3{
    .txt_box{
      h2{font-size: 40px;}
      p{font-size: 14px;}
    }
    #photo_box .box {
      h3{font-size: 18px;}
      p{font-size: 14px;}
    }

  }
  #cnt5{
    .cnt_wrap{
      @include justify-content(space-evenly);
      .main{
        top: 150px; height: 70vh;
        .txt{ 
          h2{font-size: 40px;}
          .tag{font-size: 16px;}
        }
      }
    }
    .cnt_wrap .contents .wrap_card {
      border-radius: 20px;
      .txt{
        padding: 1vw 1.5vw;
        strong{font-size: 16px; line-height: 1.2;}
        .tag{font-size: 14px;}
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #cnt1{    
    .wrap{
      .photo_box{
        .photo{
          width: 800px;
          top: -35vw; left:-45vw;
        }
      }
      .photo_wrap{
        bottom: 80px; left: 5.5vw;
        &::before, &::after{width: 320px; height: 320px;}
        &::before{margin-top: -160px; margin-left: -160px;}
        &::after{margin-top: -160px; margin-left: -160px;}
        .photo_box{width: 300px; height: 300px} 
      }
      .txt_box{
        h2{font-size: 40px;}
        p{font-size: 14px;}
      }
    }
  }
  #cnt2{
    h2 span{font-size: 40px;}
    .swiper-wrapper .swiper-slide .slide{
      height: 60vh; min-height: auto;
      .winePhoto{
        width: 15.5vw; min-width: 15.5vw;
        img{width: 10vw}
      }
      &:hover .winePhoto img{width: 10vw;}
    }
    .swiper-wrapper .swiper-slide.swiper-slide-active .btn_more{
      width: 22vw; height: 8.9vw; line-height: 8.9vw;
    }
  }
  #cnt3{
    .txt_box{
      .btn_subscript{
        width: 20.3vw; height: 8.1vw; line-height: 8.1vw;
      }
    }
    #photo_box {
      width: 85%;
      .box{
        width: 70%; height: 40vh; border-radius: 15px ;
        &:not(#box1){margin-left: 50vw;}
      }
      .controller{
        bottom: 50%;
        .button-prev, .button-next{
          width: 25px; height: 30px;
        }
      }
    }
  }
  #cnt5{
    .cnt_wrap{
      display: block;
      .main{
        position: static; height: auto; width: 90%; margin: 0 auto; border-radius: 20px;
        .txt{height: auto;}
        .img{visibility: hidden; max-height: 0; overflow: hidden; display: none;}
      }
      .contents{
        @include flex;
        @include flex-wrap;
        @include justify-content(space-between);
        width: 90%; height: auto; margin: 0 auto;
        .wrap_card{
          position: static; width: 48%; height: 50vw; margin-top: 20px; border-radius: 15px;
          &.wrap_card:nth-child(6), &.wrap_card:nth-child(8){display: block;}
          &.txt_wrap{display: none;}
          .txt{
            height: 16.5vw; letter-spacing: -0.05em; padding: 1.5vw 1.8vw;
            strong{font-size: 14px;}
            .tag{margin-right: 0; font-size: 13px;}
          }
          .img{height: calc(100% - 16.5vw);}
        }
      }
    }
  }
}